elasticsearch-dsl==6.4
django==1.6
django-mongokit==0.2.6
python-magic==0.4.6
Pillow==2.6.1
django-json-rpc==0.6.3
numpy==1.9.0
python-memcached==1.58
django-memcache-admin
hashfs==0.6.0
Fabric==1.12.0
pathlib2==2.2.1
pymongo==2.8

