

{% extends "ndf/base.html" %}
{% load i18n %}

 {% block content %}


<head>
<title>  
  CLix OER - About
</title>
<head>
<style>

img{
overflow-y:auto;
}
</style>
  
<nav aria-label="breadcrumb ml-5 ">
    <ol class="breadcrumb mt-3">
             <li class="breadcrumb-item" aria-current="page"> <a href="{% url 'e-library' group_id  %}"  > <i style="color:#fff;" class=" fas
 fa-home fa-lg  ml-n4"></i> </a> </li>
 

        <li class="breadcrumb-item " aria-current="page"><i class="fas fa-user-friends"></i> {% trans 'About' %}  </li>
<!--
       <li class="breadcrumb-item " aria-current="page">The Design And Development </li>
-->
    </ol>
  </nav>
  

{% if request.LANGUAGE_CODE == 'en' %}

           {% include "ndf/panel.html" %}
{% elif request.LANGUAGE_CODE == 'hi' %}
          {% include "ndf/panelHindi.html" %}
{% else %}
      {% include "ndf/panelTelgu.html" %}
 {% endif %}



<div class="py-5 text-center">

<h1>  {% trans   'Integrate CLIxOER in your classroom' %} </h1>
<img class="img-fluid" src="/static/ndf/about page section.png" width="65%"/>
</div>
<!--
<div class="mt-5" style="margin-bottom:0px;">
       

</div>  -->
<h1 class="text-center py-2"> {% trans   'Research' %} </h1>
<div class="text-center ">
{% include "ndf/theLearningpage.html" %}
</div>
<div class="text-center">
<h1> {% trans  'CLIx In  Action' %} </h1>
<img class="img-fluid" src="/static/ndf/Abtpg2.png"/>
</div>
<h1 class="text-center py-2">  {% trans  'Our Collaborators' %} </h1>
<div class="py-2">


{% if request.LANGUAGE_CODE == 'en' %}

           {% include "ndf/thefootericon.html" %}
{% elif request.LANGUAGE_CODE == 'hi' %}
                    {% include "ndf/thefootericonHindi.html" %}

{% else %}
                 {% include "ndf/thefootericonTelgu.html" %}

 {% endif %}
 

</div>


<div class="mt-n5"></div>
</div>
{% include "ndf/contactForm.html" %}
{% endblock %}

