
{% load i18n %}

<style>
a#classofv{
 text-decoration:none;
 
}
.clixInclass{
margin-top:5rem;
color:#000;
}
</style>
<!--
<a id="classofv" href="{% url 'designDev' group_id first_arg%}" style="color:#000 !important;">                                                  -->                                      


<div class="clixInclass  " >
<!--<p>Design And Developement  </p> -->
      <div class="jumbotron some-dark py-5" style="background:#fff; color:#000;">
            <h1 class="h1-responsive mt-n2">రూపకల్పన మరియు అభివృద్ధి ప్రక్రియ (డిజైన్ మరియు డెవలప్మెంట్)
{% if first_arg == 'Mathematics' %}
              {% trans  'Math'  %}

          {% elif first_arg == 'English' %}

              {% trans   'English' %}
          {% else %}

              {% trans  'Science' %}

{% endif %}


            </h1>


<!--
            <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention
                to featured content or information.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nulla enim temporibus labore minus reprehenderit dolore exercitatio\
nem, ex consectetur sed eius fugit ipsa corrupti delectus qui saepe esse. Id, eveniet!</p>
            <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention
                        to featured content or information.</p>
-->
<p>
    జాతీయ పాఠ్య ప్రణాళికా చట్రం (నేషనల్ కరికులమ్ ఫ్రేమ్‌వర్క్) 2005 (NCF 2005)లో పేర్కొన్న విధంగా, విద్యా వ్యవస్థలో అవసరమైన మార్పు తీసుకురావడం కోసం క్లిక్స్ (CLIx) ప్రయత్నిస్తోంది. క్లిక్స్ మాడ్యూల్ కంటెంట్, టెక్నాలజీ టూల్స్ మరియు లెర్నింగ్ ప్లాట్‌ఫామ్ లాంటివన్నీ డిజైన్(రూపకల్పన) ఆధారిత పరిశోధనకు సంబంధించిన అత్యంత కచ్చితత్వమైన, పునరావృత ప్రక్రియ ద్వారా రూపొందాయి.

<br>
క్లిక్స్ మాడ్యూళ్ల రూపకల్పన మరియు అభివృద్ధి అనేది - సహకారం, పొరబాట్ల నుంచి నేర్చుకోవడం మరియు ప్రామాణిక అభ్యసనం అనే మూడు బోధనా స్తంభాలతో ఏర్పడ్డాయి.  ఈ స్తంభాలనేవి క్లిక్స్ అమలుచేసే డిజైనర్లు, విద్యార్థులు మరియు ఉపాధ్యాయులకు అమూల్యమైనవిగా ఉంటాయి.

<br>
విషయాలు రూపొందించే సమయంలో ఆయా పాఠ్యాంశాలకు సంబంధించిన సంబంధిత పరిశోధనా సాహిత్యం కూడా రూపొందించడం జరిగింది. విషయాలను ప్రామాణీకరించడానికి ముందు ఆయా రాష్ట్ర ప్రభుత్వాలకు చెందిన ఉపాధ్యాయ విద్యావేత్తలు మరియు విషయ నిపుణుల నుంచి అభిప్రాయాలు స్వీకరించడంతో పాటు నాణ్యతా హామీకోసం అనేకసార్లు సమీక్షించడం జరిగింది.
 </p>

            <hr class="my-2">
    <a class="btn btn-primary btn-sm" href="{% url 'designDev' group_id first_arg%}" role="button"  target="_blank"> {% trans 'Read more' %} </a>
        </div>
</div>

