<style>
a#classofv{

 text-decoration:none;
 
}
.clixInclass{
margin-top:5rem;
color:#000;
}
</style>
<!--
<a id="classofv" href="{% url 'designDev' group_id first_arg%}" style="color:#000 !important;">                                                  -->                                      


<div class="clixInclass  " >
<!--<p>Design And Developement  </p> -->
      <div class="jumbotron some-dark py-5" style="background:#fff; color:#000;">
            <h1 class="h1-responsive mt-n2">Design and Development  Process</h1>


<!--
            <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention
                to featured content or information.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nulla enim temporibus labore minus reprehenderit dolore exercitatio\
nem, ex consectetur sed eius fugit ipsa corrupti delectus qui saepe esse. Id, eveniet!</p>
            <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention
                        to featured content or information.</p>
-->
<p>
CLIx seeks to demonstrate the transformation that the education system needs, as envisioned in the National Curriculum Framework 2005 (NCF 2005). CLIx module content, technology tools and learning platform were created through a rigorous, iterative process of design based research.
<br>
The design and development of CLIx modules have been guided by three pedagogical pillars of collaboration, learning from mistakes and authentic learning. These pillars have proved to be invaluable for designers, students and teachers who implement CLIx. 
<br>
Relevant research literature relating to the topics were drawn upon while creating the contents. Feedback was sought from teacher educators and subject experts from state governments before the contents were authored and reviewed multiple times for quality assurance </p>

            <hr class="my-2">
<!--
            <p>It uses utility classes for typography and spacing to space content out within the larger
                container.
            </p> -->

            <a class="btn btn-primary btn-sm" href="{% url 'designDev' group_id first_arg%}" role="button"  target="_blank">Read more</a>
        </div>
</div>
<!--
</a>
-->
<!-- 
        <div class="py-5" >
 
		<h1 class="text-center py-5">The Devlopement and Design Process</h1>
			
			
			<div id="mixedSlider" class="oy"  href="{% url 'designDev' group_id first_arg %}">
			
					<div class="MS-content">
             <a  href="{% url 'designDev' group_id first_arg %}">
									<div class="item">
										   <div class="text-center" style="max-width: 18rem;">
				<div class="card-header icon-header">Reseach</div>
				<img class="icon-img mx-auto" src="/static/ndf/noun_Search_192681.png">

			  <div class="card-body text-dark">
				<p class="card-text" style="text-align:justify;  ">A baseline study was conducted to assess the gaps in a language classroom and the initial language levels of learners. 
					</p>
			  </div>
			</div>
										<a href="">Read More</a>
									</a></div>
								
	<div class="item">
     <a   href="{% url 'designDev' group_id first_arg %}"> 										  <div class="text-center" style="max-width: 18rem;">
													<div class="card-header icon-header font-weight-bold">Re-Create</div>
													<img class="icon-img mx-auto" src="/static/ndf/noun_create_1636734 (4).png">
									
													<div class="card-body text-dark">
													<p class="card-text" style="text-align:justify" >Paper prototype of tools and activities were created and feedback was collected from the learners. 
														</p>
													</div>
												</div>
										<a href="">Read More</a>
							</a>		</div>
									<div class="item">
<a  href="{% url 'designDev' group_id first_arg %}">							
			  <div class="text-center" style="max-width: 18rem;">
													<div class="card-header icon-header font-weight-bold">Pilot</div>
													<img class="icon-img mx-auto" src="/static/ndf/noun_Planning_2457957.png">
									
													<div class="card-body text-dark">
													<p class="card-text">The prototypes were trialed with the learners

														</p>
													</div>
												</div>
										<a>Read More</a>
						</a>			</div>
									<div class="item">
						<a href="{% url 'designDev' group_id first_arg %}">					<div class="text-center" style="max-width: 18rem;">
													<div class="card-header icon-header font-weight-bold">Review</div>
													<img class="icon-img mx-auto" src="/static/ndf/noun_review_1912199.png">
									
													<div class="card-body text-dark">
													<p class="card-text">A baseline study was conducted to assess the gaps in a language classroom and the initial language levels of learners. 
														</p>
													</div>
												</div>
									</a>	<a>Read More</a>
									</div>
									<div class="item">

								<a	href="{% url 'designDev' group_id first_arg %}">	   <div class="text-center" style="max-width: 18rem;">
				<div class="card-header icon-header font-weight-bold">ReWORK (Re-Create)</div>
				<img class="icon-img mx-auto" src="/static/ndf/noun_schedule_694983.png">

			  <div class="card-body text-dark">
				<p class="card-text">Based on the feedback and experience, the activities and tools were reviewed and modified. 
						.</p>
			  </div>
			</div>
										<a>Read More</a>
								</a>	</div>
								   </a>
								</div>
								<div class="MS-controls">
									<button class="MS-left"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
									<button class="MS-right"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
								</div>
							</div>
			</div> 
			<script>
			     

$('.oy').multislider({
duration: 450,
interval: 2000
});
			</script>
-->
