{% load i18n %}

<style>
a#classofv{
 text-decoration:none;
 
}
.clixInclass{
margin-top:5rem;
color:#000;
}
</style>
<!--
<a id="classofv" href="{% url 'designDev' group_id first_arg%}" style="color:#000 !important;">                                                  -->                                      


<div class="clixInclass  " >
<!--<p>Design And Developement  </p> -->
      <div class="jumbotron some-dark py-5" style="background:#fff; color:#000;">
            <h1 class="h1-responsive mt-n2">डिजाइन और विकास प्रक्रिया 
            </h1>


<!--
            <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention
                to featured content or information.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nulla enim temporibus labore minus reprehenderit dolore exercitatio\
nem, ex consectetur sed eius fugit ipsa corrupti delectus qui saepe esse. Id, eveniet!</p>
            <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention
                        to featured content or information.</p>
-->
<p>
    क्लिक्स वह सब रूपान्तरण प्रदर्शित करने की कोशिश करता है जिनकी शिक्षा तंत्र में आवश्यकता है, जैसी कि राष्ट्रीय पाठ्यचर्या की रूपरेखा 2005 में कल्पना की गई है। क्लिक्स मॉड्यूल की विषयवस्तु, तकनीकी टूल्स और सीखने के मंच का निर्माण, डिज़ाइन आधारित अनुसंधान की कठोर, दोहराई जा सकने वाली प्रक्रिया द्वारा किया गया। 
 of design based research.
<br>
क्लिक्स मॉड्यूलों का डिज़ाइन और विकास, सहयोग, गलतियों से सीखना और प्रामाणिक अधिगम के तीन शिक्षास्त्रीय स्तंभों द्वारा मार्गदर्शित रहे हैं। ये स्तम्भ क्लिक्स लागू करने वाले डिजाइनरों, विद्यार्थियों और शिक्षकों के लिए अमूल्य सिद्ध हुए हैं। 

<br>
विषयवस्तु का निर्माण करते समय टॉपिकों से संबंधित अनुसंधान साहित्य को उपयोग में लिया गया था। विषयवस्तु को लिखने और गुणवत्ता सुनिश्चितता के लिए उसकी कई बार समीक्षा करने से पहले राज्य सरकारों के शिक्षक प्रशिक्षकों और विषय विशेषज्ञों से फीडबैक लिया गया था।
</p>

            <hr class="my-2"> 
   <a class="btn btn-primary btn-sm" href="{% url 'designDev' group_id first_arg%}" role="button"  target="_blank"> {% trans  'Read more' %} </a>
        </div>
</div>
