
{% extends "ndf/base.html" %}

<link href="../static/multislider.js">
{% load i18n %}
{{csrf_token}}
{% block content %}
<body>

 

<div class="container mt-2 mb-4">
    <div class="row">
      <div class="col-sm-9">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb ml-2">
            <li class="breadcrumb-item ml-n3" aria-current="page" > <a style="color:#fff;" href="{% url 'e-library' group_id  %}"> <i class=" fas fa-home fa-lg "></i> </a> </li>
 <li class="breadcrumb-item" style="background:#7c777c;"> <a style="color:#fff;"><i class="ml-n2 fas fa-globe fa-lg"></i></a>
 {% trans 'Domain' %} </li>
<li class="breadcrumb-item pl-n2 " style=""> {% trans  first_arg  %}</li>

           </ol>
        </nav>

    </div>
    <!--  <div class="col-sm-3"> <button type="button" class="btn btn-primary butn mx-n2" style="float:right;">Download All &nbsp;<i class="fas fa-cloud-download-alt"\
></i></button>
      </div> 
-->
    </div>
</div>


<div class="container-fluid hello">
    <div class="row">
      <nav class="col-12 col-sm-12 col-md-2" id="verticalScrollspy">
        <ul class="nav flex-column nav-pills nav-scroll">
          <li class="nav-item "><a title="Click to see all modules" class="nav-link active" href="#dogs"> <img src="/static/ndf/modules.png" class="img-fluid" style="width:25px; height:25px;"> {% trans 'Modules' %} </a></li>
          <li class="nav-item"><a class="nav-link"  title="Testimonials of student and teachers" href="#alpacas" ><img src="/static/ndf/voices from the field.png" class="img-fluid" 
style="width:25px; height:25px;">{% trans 'Voices From The Field' %} </a></li>
          <li class="nav-item"><a class="nav-link" title="Support material to integrate CLIx OERs in the classroom" href="#cats">
<img src="/static/ndf/clix in the classroom.png" class="img-fluid"
style="width:25px; height:25px;">
{% trans 'CLIx in the Classroom' %}
 </a></li>
          <li class="nav-item"><a class="nav-link" title="Know about the design and development details of CLIx OERs" href="#penguins">
<img src="/static/ndf/design and development.png" class="img-fluid"
style="width:25px; height:25px;">
{% trans 'Design and Development Process' %}  
<!--
<span class=" py-1">
</span>
-->
 </a></li>
          <li class="nav-item"><a class="nav-link" title="Know our team" href="#team"><img src="/static/ndf/team.png" class="img-fluid"
style="width:25px; height:25px;">{% trans 'Team Details' %}   </a></li>

     <li class="nav-item"><a class="nav-link" title="Connect with us"  href="#rabbits"><i class="fas fa-comments"></i>{% trans 'Contact us' %}    </a></li>
        </ul>
      </nav>
      <div class="col-12 col-md-10 col-lg-10">
        <div data-spy="scroll" data-target="#verticalScrollspy">
          <div id="dogs" class="container-fluid">
           
             {% include "ndf/module_cards.html" %}
             {% include "ndf/pagination.html" %}
          </div>

 <div id="alpacas" class="container-fluid" class="mb-5  mt-5">
           <!-- <h1 class="text-center">Testimonials</h1>   -->
                <h1 class="text-center mt-4"> {% trans   ' Voices from the Field ' %}  </h1>
{% include "ndf/oer_testimonials.html" %}
          </div>


          <div id="cats" class="container-fluid">
            {% if request.LANGUAGE_CODE == 'en' %}
               {% include "ndf/icon_slider.html" %}
	    {% elif request.LANGUAGE_CODE == 'hi' %}
	       {% include "ndf/icon_sliderHindi.html" %}
	    {% else %}
	       {% include "ndf/icon_sliderTelgu.html" %}
	    {% endif %}
          </div>
  <div id="penguins" class="container-fluid">
{% if request.LANGUAGE_CODE == 'en' %}   
           {% include "ndf/devlopementanwork.html" %}
{% elif request.LANGUAGE_CODE == 'hi' %} 
          {% include "ndf/devlopementanworkHindi.html" %}
{% else %}
      {% include "ndf/devlopementanworkTelgu.html" %}
 {% endif %}
          </div>

          <div id="team" class="container-fluipd mt-5">
        {% include "ndf/domain_team_cards.html"  with slider=slider%}
          </div>
          <div id="rabbits" class="container-fluid" class="mt-5">
{% include "ndf/contactForm.html" %}           
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <script >



      $(document).ready(function() {
        $('body').scrollspy({ target: '#verticalScrollspy' })
      //   $('body').attr('data-spy', 'scroll');
      //   $('body').attr('data-offset', '0');
      //   $('body').attr('data-target', '#verticalScrollspy');
      })
      
      
      
      
      </script> -->
      <script>

        $('#basicSlider').multislider({
                continuous: true,
                duration: 2000
              });
              $('#mixedSlider').multislider({
                duration: 750,
                interval: 3000
              });
        
        
        
        
        </script>
        </script>
        <link rel="stylesheet" href="https://npmcdn.com/flickity@2/dist/flickity.css">
        <script src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>

        <script>

$('#verticalScrollspy').scrollspy();

(function(){
    // Your base, I'm in it!
    var originalAddClassMethod = jQuery.fn.addClass;

    jQuery.fn.addClass = function(){
        // Execute the original method.
        var result = originalAddClassMethod.apply( this, arguments );

        // trigger a custom event
        jQuery(this).trigger('cssClassChanged');

        // return the original result
        return result;
    }
})();

$(".nav-link").bind('cssClassChanged' , function(e) {
        $(".nav-item").each( function() {
            if( $(this).hasClass("active") == true ) {
                $(this).removeClass("active");
            }
        });

        $(this).removeClass("active").parent().addClass("active");
    });
          </script>
        
  
{% endblock %}
