{% extends "ndf/base.html" %}

{% block content %}
{% load i18n %}
{% load ndf_tags %}
{% get_group_name groupid as group_name_tag %}
{% check_is_gstaff groupid request.user as is_gstaff %}
{% get_node groupid as group_obj %}

<style>
</style>


<div class="container-fluid" id="u"   style="">
    <div class="row">

{% include "ndf/oer_breadcrumbs.html" %}
</div>
<div class="row" id="x">
{% include "ndf/OER_TOC.html" %}

{% include "ndf/module_cards.html" %}
<!--</div>-->
</div>       
</div> 

{% include "ndf/pagination.html" %}                                                                                                           


    <div class="">

 {% if request.LANGUAGE_CODE == 'en' %}
               {% include "ndf/Oer_teacher_courses.html"  %}
            {% elif request.LANGUAGE_CODE == 'hi' %}
               {% include "ndf/Oer_teacher_coursesHindi.html" %}
            {% else %}
               {% include "ndf/Oer_teacher_coursesTelgu.html" %}
            {% endif %}

      
  </div>
</div>
    {%  endblock  %}
