{% load ndf_tags %}
{% load get_relation_value  from ndf_tags %}
<style>
a:hover  {
cursor: pointer;
}

.modal-header{
display: inline-block !important;
}
.modal-header .close {
margin: -3rem -1rem -1rem auto;
}
  i {
  
overflow:hidden;
}
  ul > i{
 
}

table {
  width: 100%;
font-size: 12px;
}

table, td {
 border-collapse: collapse;
  border: none;
}

thead {
  display: table; /* to take the same width as tr */
  width: calc(100% - 17px); /* - 17px because of the scrollbar width */
}

tbody {
  display: block; /* to enable vertical scrolling */
  max-height: 200px; /* e.g. */
  overflow-y: scroll; /* keeps the scrollbar even if it doesn't need it; display purpose */
}

th, td {
  width: 33.33%; /* to enable "word-break: break-all" */
  padding: 5px;
  word-break: break-all; /* 4. */
}

tr {
  display: table; /* display purpose; th's border */
  width: 100%;
  box-sizing: border-box; /* because of the border (Chrome needs this line, but not FF) */
}

td {
  text-align: center;
  border-bottom: none;
  border-left: none;
}

.square{
width: 100px;
border: 1px solid #000;
padding:40px;
margin:10px;
} 
.user{
line-height:0.5rem;
}
 </style>
 
<!---
<div class="container">
                     <div class="modal-header">

<div class="row">
<div class="col-12 col-sm-12 col-md-12 col-lg-12"> 
              <h5 class="modal-title ml-2 " id="exampleModalLongTitle" class="col-10  col-md-3  col-sm-10" style="font-weight:bold; font-size: 18px;">{{moduledetails.name}}</h5>
</p> 
</div>
</div>
<div class="container">
<div class="row">
<div class="col-4">
                <span class="badge badge-color py-2 ml-5 " >  
 
<i  class="fas fa-language fa-lg"> &nbsp; {{moduledetails.subject}}</i></span> </div>
<div="col-4" style="margin-left:20px;">
      <span class="badge badge-color py-2 ml-5" style="margin-left:50px;"><i class= "pl-2 fas fa-user-graduate fa-lg"> &nbsp; {{moduledetails.grade}}</i></span> 
</div> 
</div>
</div>
<div class="container">
<div class="row">
<div class="col-12 col-sm-12 col-md-12 col-lg-12">
      
<div class="" style="display:inline-block;">         
 <a href="https://demo-clix.tiss.edu/home/module/{{moduledetails.id}}/courses" data-toggle="tooltip" title="Explore Module Online" \
 target="_blank" >

            <i  class="fas fa-rocket ml-4 "></i> </a> 
                    </div>

<div class="dropdown show" style="display:inline-block;">
 <a data-toggle="dropdown" title="Download Offline Version"  href=""  id="dropdownMenuLinKLink"
            <i class="fas fa-cloud-download-alt ml-4"></i></a>

<div class="dropdown-menu"  aria-labelledby="dropdownMenuLinkLink">

<a class="dropdown-item" href="{{student_docs}}">Hindi </a>
<a class="dropdown-item" href="{{student_docs}}"> English </a>
</div>

</div>
 
                    
<div class="dropdown show" style="display:inline-block;">

       <a   data-toggle="dropdown" href="" title="Student Handbook" id="dropdownMenuLink"
            <i class="fas fa-user-graduate ml-4"></i></a> 
<div class="dropdown-menu"  aria-labelledby="dropdownMenuLink">



<a class="dropdown-item" href="{{student_docs.Hindi}}" download="{{moduledetails.name}}-Hindi">Hindi </a>
<a class="dropdown-item" href="{{student_docs.English}}  "  download="{{moduledetails.name}}"> English </a>
</div>
</div>

<!--                    <h5> 
  <div class="dropdown show" style="display:inline-block;">
         <a data-toggle="dropdown" title="Teacher Handbook"  href="" id="dropdownMenuLinkTeacher"
            <i class="fas  fa-chalkboard-teacher ml-4"></i></a> 

<div class="dropdown-menu"  aria-labelledby="dropdownMenuLinkTeacher">



<a class="dropdown-item" href="{{teacher_docs.Hindi}}" download="{{moduledetails.name}}-Hindi">Hindi </a>
<a class="dropdown-item" href="{{teacher_docs.English}}"  download="{{moduledetails.name}}"> English </a>
</div>
</div>
<!--</h5>
                    <h5> 
                       <div class="dropdown show" style="display:inline-block" href="">

     <a data-toggle="dropdown" title="Share Link"   href="" id="dropdownMenuLink"
            <i class="fas fa-share-alt  ml-3"></i></a>  
                                           <div class="dropdown-menu" href="" aria-labelledby="dropdownMenuLink" >
                          <a class="dropdown-item" onclick="CopyLink()"  id="copy">Copy</a>
                        <!--  <a class="                                                                                                      
dropdown-item"  data-js="facebook-share">Share Facebook</a>                                                                                   
                          <a  class="dropdown-item" data-js="twitter-share" >Share on Twitter</a> 
<a class="dropdown-item" href="http://www.facebook.com/sharer.php?s=100&amp;p[title]=[TITLE_GOES_HERE]&amp;p[summary]=[SUMMARY_GOES_HERE]&amp\
;p[url]=[URL_GOES_HERE]&amp;p[images[0]=[IMAGE_GOES_HERE]" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + document.UR\
L, 'facebook-popup', 'height=350,width=600'); return false;"
 target="_blank" >Share on Facebook</a>
<a class="dropdown-item" href="http://twitter.com/intent/tweet?text=[learn about Clix]" onclick="window.open(this.href, 'twitterwindow','left\
=20,top=20,width=600,height=300,toolbar=0,resizable=1'); return false;" target="_blank">Tweet This</a>
<a class="dropdown-item" href="javascript:void(window.open('https://t.me/share/url?url='+encodeURIComponent(window.location.href)+'&text='+en\
codeURIComponent(document.title), '_blank'))" target="_blank">
    <i></i>
    Telegram Link
</a>

                        </div>
                      </div>
<!--</h5>
</div>
                    </div>
</div>
      <!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
</div>   -->         

<div class="modal-header" >
<div class="row">
<div class="col-12 col-sm-5 col-md-5">
       <h5 class="modal-title ml-2 " id="exampleModalLongTitle" class="col-12  col-md-5  col-sm-10" style="font-weight:bold; font-size:
 18px;">{{moduledetails.name}}</h5>
</div>

<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    -->  
            <!--  <div class="modal-body">
<div class="container">
          <div class="row">
            <div class="col-sm-2">
         <p class="badge badge-secondary " style="padding:5px; font-size:10px; color:#fff !important;">  
 
<i  class="fas fa-language fa-lg"> &nbsp; {{moduledetails.subject}}</i></p> 
</div> 
  <div class="col-sm-2">
      <p class="badge badge-secondary" style="padding:5px;  font-size: 10px; color:#fff !important;"><i class="pl-2 fas fa-user-graduate fa-lg"> &nbsp; {{moduledetails.grade}}</i></p> 
            </div>
          </div>
        </div>
        -->
        
          <div class="col-12 col-sm-12 col-md-7 mt-1  align-items-md-end">
        
        
        
        <div class="" style="display:inline-block;">         
{% if request.LANGUAGE_CODE == 'en' or domain == 'English' %}
      <a class="explore" href="https://demo-clix.tiss.edu/home/module/{{moduledetails.id}}/courses"  data-toggle="tooltip" title="Explore module online" target="_blank" >
{% else %}
  {% get_translated_node moduledetails.id as trnsid %}
       <a class="explore" href="https://demo-clix.tiss.edu/home/module/{{trnsid}}/courses"  data-toggle="tooltip" title="Explore module online" target="_blank" >
{% endif %}



            <i style="color: #5088c7;"  class="fas fa-rocket ml-4 fa-lg"></i> </a> 
                    </div>

<div class="dropdown show" style="display:inline-block;">
 <a data-toggle="dropdown" title="Download Offline Version"  href=""  id="dropdownMenuLinKLink">
            <i style="color: #5088c7;" class="fas fa-cloud-download-alt ml-4 fa-lg"></i></a>

<div class="dropdown-menu"  aria-labelledby="dropdownMenuLinkLink">

<a class="dropdown-item" href="{{student_docs}}">Hindi </a>
<a class="dropdown-item" href="{{student_docs}}"> English </a>
</div>

</div>
 
                    
<div class="dropdown show" style="display:inline-block;">
  {% for k,v in student_docs.items %}
       <a  href="{{v}}" title="Student Handbook" target="_blank">
   
         <i style="color:#5088c7;" class="fas fa-user-graduate ml-4 fa-lg"></i></a> {% endfor %} 
<!--

<div class="dropdown-menu"  aria-labelledby="dropdownMenuLink">



<a class="dropdown-item" href="{{student_docs.Hindi}}" download="{{moduledetails.name}}-Hindi">Hindi </a>
<a class="dropdown-item" href="{{student_docs.English}}  "  download="{{moduledetails.name}}"> English </a>
</div>

-->
</div>

  <div class="dropdown show" style="display:inline-block;">
{% for k,v in teacher_docs.items %}
         <a  title="Teacher Handbook"  href="{{v}}"  target="_blank"  >
            <i style="color: #5088c7;" class="fas  fa-chalkboard-teacher ml-4 fa-lg"></i></a> 
{% endfor %}
<!--
<div class="dropdown-menu"  aria-labelledby="dropdownMenuLinkTeacher">



<a class="dropdown-item" href="{{teacher_docs.Hindi}}" download="{{moduledetails.name}}-Hindi">Hindi </a>
<a class="dropdown-item" href="{{teacher_docs.English}}"  download="{{moduledetails.name}}"> English </a>
</div>
-->
</div>

<div style="display:inline-block;" class="video-modal">                                                                                       
<a class="video" id="{{moduledetails.id}}" style="color:rgb(7, 120, 250);"      title="Help Video" style="display:\
inline-block" > <i             style="color: #5088c7;"                                                                                                               
class="fas fa-video ml-4  fa-lg "></i> </a>                                                                                                        
</div>   


                       <div class="dropdown show" style="display:inline-block" href="">

     <a data-toggle="dropdown" title="Share"   href="" id="dropdownMenuLink">
            <i style="color: #5088c7;" class="fas fa-share-alt  ml-3 fa-lg"></i></a>  
                                           <div class="dropdown-menu" href="" aria-labelledby="dropdownMenuLink" >
                          <a class="dropdown-item" onclick="CopyLink()"  id="copy"> <i class="fas fa-copy">  </i> Copy link </a>
                       
<a class="dropdown-item" href="http://www.facebook.com/sharer.php?s=100&amp;p[title]=[TITLE_GOES_HERE]&amp;p[summary]=[SUMMARY_GOES_HERE]&amp\
;p[url]=[URL_GOES_HERE]&amp;p[images[0]=[IMAGE_GOES_HERE]" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + document.UR\
L, 'facebook-popup', 'height=350,width=600'); return false;"
 target="_blank" > <i class="fab  fa-facebook" > </i>   Share on Facebook</a>
<a class="dropdown-item" href="http://twitter.com/intent/tweet?text=[learn about Clix]" onclick="window.open(this.href, 'twitterwindow','left\
=20,top=20,width=600,height=300,toolbar=0,resizable=1'); return false;" target="_blank">     <i class="fab fa-twitter"> </i>  Tweet This</a>
<a class="dropdown-item" href="javascript:void(window.open('https://t.me/share/url?url='+encodeURIComponent(window.location.href)+'&text='+en\
codeURIComponent(document.title), '_blank'))" target="_blank">
    <i></i>
<i class="fab fa-telegram">
</i>
   Telegram Link
</a>

                        </div>
                      </div>
<!--
<div style="display:inline-block;" class="video-modal">
<a class="video"  data-toggle="modal" data-target="#exampleModalCenterLu" style="color:rgb(7, 120, 250);"  title="Help Video" style="display:inline-block" > <i 
class="fas fa-video  fa-lg "></i> </a>
</div>
-->
</div>
</div>


<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

     </div>   
                
                
        <div class="modal-body">
<div class="container">
          <div class="row">
            <div class="col-sm-2">
         <p class="badge badge-secondary " style="padding:5px; font-size:10px; color:#fff !important;">

<i data-toggle="tooltip" title="Subject "  class="fas fa-language fa-lg"> &nbsp; {{moduledetails.subject}}</i></p>
</div>
  <div class="col-sm-2">
      <p class="badge badge-secondary" style="padding:5px;  font-size: 10px; color:#fff !important;"><i data-toggle="tooltip" title="Grade" class="pl-2 fas fa-user-graduate fa-l\
g"> &nbsp; {% for each_attr in moduledetails.grade %}{{each_attr|slice:"5:"}}
                      {% if not forloop.last %}, {%endif %}
                      {% endfor %}
 

</i></p>
            </div>
          </div>
        </div>

        
                <div class="container-fluid">
                  <div class="row">
                      <div class="col-md-12" >
                                             {{moduledetails.content|default:'No description added yet.'|safe}}
<br>                  
<br>
 <h6>  No. Of Interactive : {{interactivestotal}} </h6>

		   {% for key,values in toolsdata.items %} 

<div class="row" style="display:inline-block !important;">
<div class="col-12 col-sm-3 col-md-3">
<img src="{{values.1}}" class="img-fluid"   width="70" height="70">

<p style="display:inline-block; font-size:12px; text-align:justifty;" >
                       
		  <a href="{{values.0}}"  style="display:inline-block;" target="_blank"> {{key}} </a>  </p>
</div>
</div>
		   {% endfor %}
                         </div>
                  </div>

                  <div class="row">
                      <div class="col-md-4 py-4 ">
                  
                  <img
                    src="/media/{{moduledetails.image.grel_node.if_file.original.relurl}}"
                    class="card-img border-rounded mx-2 my-4"
                    alt="{{moduledetails.name}}"
                  />
                
                      </div>
                      <div class="col-md-8 py-5">
                       <table class="table table-hover">
            <thead style="postion:sticky; overflow-y:auto; ">
              <tr style="text-align:center;">
              
                <th scope="col">Unit </th>
                <th scope="col">Lesson</th>
                <th scope="col">No. of Activities</th>
              </tr>
            </thead>
            <tbody>
	     {% for data in moduledetails.unitdetails %}
              <tr>
           
                <td>{{data.name}}</td>
                <td>{{data.lessname}}</td>
                <td>{{data.totalactivities}}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
                    </div>
                    <!-- <div class="col-md-4 ml-auto">.col-md-4 .ml-auto</div> -->
                  </div>
                  <!-- <div class="row">
                    <div class="col-md-3 ml-auto">.col-md-3 .ml-auto</div>
                    <div class="col-md-2 ml-auto">.col-md-2 .ml-auto</div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 ml-auto">.col-md-6 .ml-auto</div>
                  </div> -->
<div class="row">
<div class="col-12 col-md-10">

<h6 style="display:inline-block;"> Authors : 



 </h6>
 {% for user in leaduser %}
<h6> {{user}}
</h6>
{% endfor %}
 {% for user in userdata %}
<p class="user ml-1" style="display:inline-block;">
{{user}}
</p>
{% endfor %}

</div>

<div class="col-12 col-md-2 mt-5">

<p> <a class="btn btn-sm" style="background-color:#5088c7;"  href="https://clixoer.tiss.edu/5752ad5a2e01310a05dca583/domain/{{moduledetails.subject}}/#team"> Read more </a> 
</p>
</div>

                  <div class="row">
                    <div class="col-sm-9 mt-n3 ">
        <!--    <i class="fas fa-eye "> View: 2 </i>            <i class="fas fa-cloud-downlaod-alt ml-3 "> Download: 0</i> -->
  

 <div class="row">
    
                  
                </div>
              </div>
            </div>
            
         
</div>
<!-- Button trigger modal -->


<!-- Modal -->

<script>

$("a.video").click(function() {
    var id =$(this).attr("id");
    console.log("in a.modal_modal click:",id)
   console.log({{CSRF_COOKIE}})
    $.ajax({
      type: "POST",
                      url: "{% url 'help_videos' group_id %}",
                      data :{
                              csrfmiddlewaretoken: "{{csrf_token }}",
                                      node_id:id,
                      },
                      datatype: "html",

                      success: function(data) {
                      // $('#jar').html(data)
                      $(".muvideLu").html(data);
                      $("#exampleModalCenterLu").modal('show');

                      }
           });


});

</script>
