B<style>
.ur-team {
background:#fff;
color:#000;
}
 .thenewRoom ,
.thenewRoom:hover{
   
 color:#000;
  text-decoration: none;
   
}
.some-dark{
background: #fff !important;
}
.clixInclass {
color:#000 !important ;
background: #fff !important;
}

</style>
<!--
<a class="thenewRoom" href="{% url 'domainHelp' group_id first_arg%}">                                                                           -->                

<div class="clixInclass py-5">
<!--<p> CLix In The ClassRoom </p>--> 
      <div class="jumbotron some-dark py-5 mt-5"  >
            <h2 class="h1-responsive mt-n2">CLIx in the Classroom</h2>
   <!--         <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention
                to featured content or information. 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nulla enim temporibus labore minus reprehenderit dolore exercitationem, ex consectetur sed eius fugit ipsa corrupti delectus qui saepe esse. Id, eveniet!</p>
            <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention
              to featured content or information.</p> 
-->
<p style="text-align:justify;">        Student modules use a combination of digital and non-digital tools and low cost, locally available materials for lab activities to enable students to be creators, and not merely consumers of content. The topics of the modules are guided by the National Curriculum Framework 2005, mapped to the state curriculum and selected based on hard-spots. 
Guided by the philosophies of constructivism and constructionism, CLIxOERs offer students opportunities to work in a hands-on manner to construct knowledge in active ways. Relevant research literature relating to the topics were drawn upon while creating the contents. Feedback was sought from teacher educators and subject experts from state governments before the contents were authored and reviewed multiple times for Quality Assurance. This is supported by feedback from teachers in real time, which is a paradigmatic shift from trends where technology is used to either teacher-proof curricula, or micro-manage teachers. <br>
All CLIx Open Educational Resources (OERs) are released under the Creative Commons Licence 4.0. so that these resources can be reused, re-created, modified and adapted to varied contexts. It aims, in the process, to be truly free - where we  as the spirit of freedom and independence to create, learn and grow! </p>
<p>We encourage teachers to innovate and come up with new strategies to contextualise these OERs and integrate in their everyday teaching-learning process.
</p>
 <hr class="mt-2">
Read more to know classroom integration strategies for CLIx OERsfreedefine 
            <!--
            <p>It uses utility classes for typography and spacing to space content out within the larger
                container.
            </p> 
-->
            <a class="btn btn-primary btn-sm" href="{% url 'domainHelp' group_id first_arg%}" role="button" >Know more</a>
        </div>
</div>
<!--
</a>
    -->
    <style>
        a:hover  .some-dark {
 text-decoration : none;
 color:#00;
}
        .some-dark {
            -webkit-box-shadow: -2px 1px 13px 0px rgba(0,0,0,0.44);
-moz-box-shadow: -2px 1px 13px 0px rgba(0,0,0,0.44);
box-shadow: -2px 1px 13px 0px rgba(0,0,0,0.44);
        }
        
        
        </style>
<!--
        <div class="py-5">
        <h1 class="text-center py-5">Clix In The Classroom</h1>
        
        
        <div id="mixedSlider">
                            <div class="MS-content">
<a href="{% url 'domainHelp' group_id first_arg%}">
                                <div class="item">

                                     <div class="card  ur-team" style="width: 18rem;">
                                        <div class="                                    
                text-center font-weight-bold" style="font-size:16px;"> 1. Install </div>
					 <hr>
                                        <img class="icon-img mx-auto" src="/static/ndf/noun_Install_899574 (2).png">
                                        <div class="card-body">
                                         <p class="fc"> 
                                           <div class="card-text">
                                        Allow students to attempt activities on their own. Encourage them to seek help from their friends.
                                            <div id="collapseExample" class="collapse">
                                            Be present and supportive whenever students require your help. Watch these videos on how to create an ideal CLIx learning space. link
                                              
                                            </div>
                                    
                                          </p>
                                          <!-- <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"> Read View </a> 
                                      
                                        </div>
                                      </div>
                                      </div>
                                      <p>
                                       
                                </div>
</a> 
                                <!-- <div class="item">


                                        <div class="col-6 col-md-4 offset-2 col-sm-10 ">
                                                <div class=" card our-team">
                                                    <div class="pic">
                                                        <img src="http://picsum.photos/id/1/100/100">
                                                    </div>
                                                    <h3 class="title">Williamson</h3>
                                                    <span class="post">Web Developer</span>
                                                  <p class="bio"> </p>
                                                    <ul class="social">
                                                        <li><a href="#" class="fab fa-facebook"></a></li>
                                                        <li><a href="#" class="fab fa-twitter"></a></li>
                                                        <li><a href="#" class="fab fa-google-plus"></a></li>
                                                        <li><a href="#" class="fab fa-linkedin"></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <a href="#"> Read more</a>
                                </div> 
                          <a href="{% url 'domainHelp' group_id first_arg%}">            
     <div class="item">
                                    <div class="card  ur-team" style="width: 18rem;">
                                        <div class="
                                             
          text-center font-weight-bold" style="font-size:16px;"> 2. Begin
          <hr>                                         
                                        </div>
                                        <img class="icon-img mx-auto" src="/static/ndf/noun_Flag_860031.png">
                                        <div class="card-body">
                                         <p class="fc"> 
                                           <div class="card-text">
                                      Go through the modules and identify the language level suitable for your learners.
                                           
                                            Be present and supportive whenever students require your help. Watch these videos on how to create an ideal CLIx learning space. link
                                              
                                          
                            
                                          </p>
                                     
                                        </div>
                                      </div>
                                      </div>
                                      <p>
                                       
                                </div>
               </a>
       <a href="{% url 'domainHelp' group_id first_arg%}">                   
             <div class="item">
                                    <div class="card  ur-team" style="width: 18rem;">
                                        <div class=" 
                                                    text-center font-weight-bold" style="font-size:16px;">3. Help Video
                                        <hr>
                                        </div>
                                        <img class="icon-img mx-auto" src="/static/ndf/noun_help_2281342.png">
                                        <div class="card-body">
                                         <p class="fc"> 
                                           <div class="card-text">
                                          Ask learners to watch the help corner videos to understand how the tools are used. 
                                     <div>
                                        
                                            </div>
                                            <div id="collapseExample" class="collapse">
                                            Be present and supportive whenever students require your help. Watch these videos on how to create an ideal CLIx learning space. link
                                              
                                            </div>
                                      </small>
                                          </p>
                                         
                                        </div>
                                      </div>
                                      </div>
                                      <p>
                                       
                                </div>
                </a>
                                <!-- <div class="item">
                                     <div class="card border-dark mb-3" style="max-width: 18rem;">
          <div class="card-header">Header</div>
          <div class="card-body text-dark">
            <h5 class="card-title"></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
                                    <a href="#">Read More</a>
                                                </div> 
                 <a href="{% url 'domainHelp' group_id first_arg%}">                                     
         <div class="item">
                                       <div class="card ur-team" style="max-width: 18rem;">
          <div class="  text-center font-weight-bold" style="font-size:16px;">4. Facilitate</div>
<hr>        
  <img class="icon-img mx-auto" src="/static/ndf/noun_Flag_860031.png">

          <div class="card-body ">
      
            <p class="fc">Allow students to attempt activities on their own. Encourage them to seek help from their friends.
              <hr>
              <!-- <a style="display:block;" class="btn btn-primary" data-toggle="collapse" href="#collapseExamples">View more</a> <div class="collapse" id="collapseExamples"> <div class="card card-body">  Be present and supportive whenever students require your help. Watch these videos on how to create an ideal CLIx learning space. <a  aria-expanded="false" aria-controls="collapseExample" href="https://drive.google.com/drive/u/0/folders/1wmUmp82nrEVOolko8xO6WlFWZM7Xq5rX">link </a> </div> </div></p> 
          </div> 
        </div>
                      <!--            <a href="#">Read More</a>
                           </div> 
                               </a>
                            </div>
                            <div class="MS-controls">
                                <button class="MS-left"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
                                <button class="MS-right"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
                            </div>
                        </div>
        </div> 
        
-->
