{% load i18n %}
{% load ndf_tags %}
{% load get_dict_from_list_of_dicts from simple_filters %}

{% load get_relation_value  from ndf_tags %}

<style>

@media only screen and (max-width:440px){
#side .min-vh-100{
min-height: 4vh !important;

}
}

@media (min-width:1000px) and (max-width:1094px){

.content{
width:370px !important;
margin:10px !important;

}
.nav-scroll .nav-link{
padding: auto !important;
}

}



@media only screen and (max-width:340px){
.card.col-md-offset-2.shadow.mb-3.border-rounded.content {
margin:0px;
}
}

input#English,input#Mathematics,input#Science {
float:right;
z-index:-1;
}
a:hover {
cursor: pointer;
}
.card-footer i {
color:  #5088c7;
}
#submenu1 li a.nav-link {
fonts-size:12px!important;
color: #fff !important;
}
.load > li > a{
font-size:12px !important;
cursor: pointer;
color: #fff !important;
}

.dropdown-item{
font-size: 12px !important;
color:#
}
.dropdown-menu a{
}

a .nav-link > .lu{
background-image: rgb(131,58,180) !important;
background-image: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(207,65,174,1) 10%, rgba(186,40,125,1) 74%) !important;
}
.load > .nav-item > a {
pointer: cursor !important;
}
.font-share a {
font-weight: 300;
}

.breadcrumb > li {
background: #9693a3 !important;
}


.vert-flag {
    /* -webkit-box-shadow: 1px 0 1px rgba(158, 90, 167, 0.35); */
     box-shadow: transparent; 
     background: transparent; */
    display: inline-block !important; 
    text-align: center;
     width: 20px; 
    position: absolute !important;
     padding: 0px!important;
     top: 0px !important;
    /* padding-top: 10px; */
    right: 10px !important;
    color: #fff !important;
    z-index: 11 !important;}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
</style>

<div class="col">
  <h2>
    <a
      href=""
      data-target="#side"
      data-toggle="collapse"
      class="d-md-none text-center "
      ><i class="fa fa-bars"></i
    ></a>
  </h2>

  <main>
    <div class="col-md-sm-lg-10  py-2 content-module cards-elibrary ">
      <div class="container" id="jar">
        <div class="row" style="">	  
          {% for dest in files %}
	   
  {% get_dict_from_list_of_dicts dest.attribute_set as node_attrs %}
<a  class="module_module" id="{{dest.id}}" >
            <div 
            class="card col-md-offset-2 shadow mb-3 border-rounded content"
            style="max-width: 400px; ">
           <div class="row no-gutters ">
              <div class="element">
            
                <span class="vert-flag">
                 <img src="/static/ndf/card_ribbon_logo_v1.png" style="width: 20px; height: 40px;" class="img-fluid"/>

		</span>
              </div>
</a>
              <div class="col-8 col-sm-6 col-md-5 col-sm-6 mx-auto">
                <a  class="module_module" id="{{dest.id}}">
		  {% get_relation_value dest.id 'has_banner_pic' as grel_dict %}
                  {% if not grel_dict.cursor and grel_dict.grel_node and grel_dict.grel_node.if_file.mid.relurl %}
		   
                    <img  src="/media/{{grel_dict.grel_node.if_file.mid.relurl}}" class=" card-img img-fluid module_preview   border-rounded mx-2 my-4  " alt="" style="width:167px; height:167px;"  alt="{{dest.name }}"   /></img>
             {% else %}

                  <img
                    src="/static/ndf/images/module-card.png"
                    class="card-img border-rounded mx-2 my-4"
                    alt="..."
                   style="width:167px; height:167px;"
                  />
		   {% endif %}
                </a>
              </div>
<!--<a  class="module_module" id="{{dest.id}}" > -->

              <div class="col-md-7 col-sm-12 pl-1">
                <div class="card-body  c-body">
                  <div class="card-header  c-header"  style="font-size:16px;">
                    {{ dest.name }} <br />
                  </div>

                  <h6 class="card-title mt-2">
                    <span class="badge badge-secondary subject"  id="uu" data-toggle="tooltip" title="{% trans "Subject" %}"
			  > {% if node_attrs.educationalsubject == "English" %}
<i class="fa fa-language fa-sm"></i>
{% elif node_attrs.educationalsubject == "Mathematics" %}
<i class="fa fa-calculator fa-sm"></i>
{% elif node_attrs.educationalsubject == "Science" %}
<i class="fa fa-flask fa-sm"></i>
 {% endif %}


{{ node_attrs.educationalsubject }} 
                    </span>
                    <span class="badge badge-secondary"   data-toggle="tooltip" title="{% trans  "Grade" %}" ><i class="fas fa-user-graduate fa-sm"></i>
		      {% for each_attr in node_attrs.educationallevel %}{{each_attr|slice:"5:"}}
		      {% if not forloop.last %}, {%endif %} 
		      {% endfor %}</span
                    >
                  </h6>
                  <p class="card-text" style="text-align:justify;      font-size:11px !important;">
                   {{dest.content|default:'No description added yet.'|safe| truncatechars:207}}
                    <br />
                  </p>
                  <div class="card-footer c-footer   text-center">
<!--
                    <a href="https://demo-clix.tiss.edu/home/module/{{dest.id}}/courses" data-toggle="tooltip" title="Explore module online"  target="_blank" >
-->
{% get_attribute_value dest.id 'educationalsubject' as domain %}

{% if request.LANGUAGE_CODE == 'en' or domain == 'English' %}
      <a class="explore" href="https://demo-clix.tiss.edu/home/module/{{dest.id}}/courses"  id="{{dest.id}}"  data-toggle="tooltip" 
  title="{% trans "Explore module online" %}" \
 target="_blank" >
{% else %}
  {% get_translated_node dest.id as trnsid %}
       <a class="explore" href="https://demo-clix.tiss.edu/home/module/{{trnsid}}/courses"  id="{{dest.id}}"  data-toggle="tooltip" 
  title="{% trans "Explore module online" %}" target="_blank" >
{% endif %}

                      <i class="fas fa-rocket    fa-lg"></i></a >
{% get_unplatformpkg_node dest.id dest.language.0 as pkg %}
{% get_download_preview_cnt dest.name as cnt_nd%}

<div class="dropdown show" style="display:inline-block">
                    <a href="" data-toggle="dropdown" 
                      ><i class="fas fa-cloud-download-alt  fa-lg"   data-toggle="tooltip" title="{% trans "Download offline version" %}"  > 
                        <span
                          class="badge "
                          style="font-size:5px; background: #F0578F; color: #fff;"
                          >{{cnt_nd.total_downloadcnt}}</span
                        >
                      </i></a
                    >                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLinkMu" data-toggle="modal" 
data-target="#unplatformMu" >
{% if pkg.id.strip %}
                          <a href="{% url 'read_file' dest.id pkg.id  %}" class="dropdown-item "  data-target="#unplatformMu" 
download="{{pkg.name}}.exe">
Download Unplatform Version For Windows </a>
{% else %}
			   <a href="" class="dropdown-item "  data-target="#unplatformMu" download="{{dest.name}}">
Download Unplatform Version For Windows </a>
{% endif %} 
                         <a class="  dropdown-item" href="#" data-toggle="modal" data-target="#unplatformMu" >Download Unplatform Version For Debian</a>
                          
                        </div>
                      </div>


<div class="modal" tabindex="-1" role="dialog" id="unplatformMu">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title">Installer for Windows 64bit (<name of package>size of file)
</h5>


        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align:left;">
 <ul>
 <h6>For MS Windows operating system: </h6>
<li>1. Click on the downloaded .exe setup file </li>
<li>2. Follow steps and complete the installation</li>
<li>3. Explore CLIx modules and interactives offline! </li>
</ul>
      </div>
</div>      
  </div>
</div>

<a class="video" style="color:#0778FA;"    id="{{dest.id}}"   style="display:inline-block" > <i class="fas fa-video" data-toggle="tooltip"
 title="{% trans "Help videos" %}"  ></i> </a>




                    <div class="dropdown show" style="display:inline-block;" href="">  
   <a class=""     href=""   role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                            <i data-toggle="tooltip" title="{% trans "Share" %}"  class="fas fa-share-alt  fa-lg"></i
                              >
                              <span id="output"
                        class="badge"
                        style="font-size:6px; background: #F0578F; color: #fff;"
                        >3</span
                      >
                        </a>
                      
                        <div class="dropdown-menu font-share" href="" aria-labelledby="dropdownMenuLink" >
                          <a class="dropdown-item" onclick="CopyLink()"  id="copy">
<i class="fas fa-copy"  > </i>
Copy link</a>
                        <!--  <a class="
dropdown-item"  data-js="facebook-share">Share Facebook</a>
                          <a  class="dropdown-item" data-js="twitter-share" >Share on Twitter</a> -->
<a class="dropdown-item target" href="http://www.facebook.com/sharer.php?s=100&amp;p[title]=[TITLE_GOES_HERE]&amp;p[summary]=[SUMMARY_GOES_HERE]&amp;p[url]=[URL_GOES_HERE]&amp;p[images[0]=[IMAGE_GOES_HERE]" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + document.URL, 'facebook-popup', 'height=350,width=600'); return false;" 
> <i class="fab fa-facebook"> </i>
Share on Facebook </a>
<a class="dropdown-item target"  href="http://twitter.com/intent/tweet?url=http://103.36.84.176:8000/5752ad5a2e01310a05dca583/e-library/" onclick="window.open(this.href, 'twitterwindow','left=20,top=20,width=600,height=300,toolbar=0,resizable=1'), '_blank'; data-url="document.URL"return false;" target="_blank">
<i class="fab fa-twitter"> </i>
Tweet this</a>
<a class="dropdown-item target"  href="javascript:void(window.open('https://t.me/share/url?url='+encodeURIComponent(window.location.href)+'&text='+encodeURIComponent(document.title), '_blank'))"> 
    <i class="fab fa-telegram"></i>
    Telegram link
</a>

                        </div>
                      </div>
                    <!-- <a href="your link here"
                      ><i class="fas fa-share-alt mr-1 fa-lg"></i
                      ><span
                        class="badge"
                        style="font-size:8px; background: #F0578F; color: #fff;"
                        >3</span
                      ></a
                    > -->
<!--
<a class="video show-modaltrue" style="color:#0778FA;"  onclick="modalhelpvi()"   title="Help Video" style="display:inline-block" > <i class="fas fa-video "></i> </a>
-->
                    <a class="modal_modal domain_modal "  title="{% trans  "Preview the module content" %}"    data-toggle="tooltip"   id="{{dest.id}}" style="color:#3333ff
;">
                 
   
  <i 
                      
                        class="fas fa-eye  fa-lg"
                      >
                      <span
                        class="badge"
                        style="font-size:8px; background: rgb(141, 132, 135); color: #fff;"
                        >{{cnt_nd.total_previewcnt}}</span></i>
                    </a>

<!--<a class="video" href="" data-toggle="tooltip" title="Help Video" style="display:inline-block"> <i class="fas fa-video "></i> </a> -->
                  </div>

                </div>

              </div>
            </div>
          </div>
</a>
    <!--    <div class="col-sm-4">
          <a href="https://unsplash.it/1200/768.jpg?image=257" data-toggle="lightbox" data-gallery="mixedgallery" class="col-sm-4">
              <img src="https://unsplash.it/600.jpg?image=257" class="img-fluid">
          </a>
        </div>
        <div class="col-sm-4">
    
          <a href="http://vimeo.com/80629469" data-remote="http://player.vimeo.com/video/80629469" data-toggle="lightbox" data-gallery="mixedgallery" class="col-sm-4">
              <img src="http://b.vimeocdn.com/ts/458/070/458070637_200.jpg" class="img-fluid">
          </a>
        </div>
    -->
        
 {% endfor %}	 

<!--
<nav class="text-center">
  <ul class="pagination justify-content-center pagination-sm">
        </ul>
      </nav>  -->
          <!-- Button trigger modal -->
          <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-lg  modal-dialog-centered" role="document">
                <div class="modal-content">               
                </div>
              </div>
            </div>


<div class="modal fade" id="exampleModalCenterLu" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
          <div class="modal-content muvideLu">
       
          </div>
        </div>
      </div>
<!--
<div class="modal fade" id="exampleModalVideo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Help video Coming Soon !</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Coming soon 
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>          
-->
  <!--
<div class="modal fade" id="exampleModalCenterLu" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
<div class="container">
  <div class="row">

    <div class="col-sm-4">
        <a href="{{key}}" data-toggle="lightbox" data-gallery="mixedgallery" class="col-sm-4">
          <img src="{{value}}" class="img-fluid">
      </a>
    </div>
    <div class="col-sm-4">
      <a href="https://unsplash.it/1200/768.jpg?image=257" data-toggle="lightbox" data-gallery="mixedgallery" class="col-sm-4">
          <img src="https://unsplash.it/600.jpg?image=257" class="img-fluid">
      </a>
    </div>
    <div class="col-sm-4">

      <a href="http://vimeo.com/80629469" data-remote="http://player.vimeo.com/video/80629469" data-toggle="lightbox" data-gallery="mixedgallery" class="col-sm-4">
          <img src="http://b.vimeocdn.com/ts/458/070/458070637_200.jpg" class="img-fluid">
      </a>
    </div>

    </div>
  </div>


</div>     </div>

    
  </div>
    -->   
          
    </div>

  </main>
</div>


<script type="text/javascript"> 


function copyTextToClipboard(text) {
  var textArea = document.createElement("textarea");

  //
  // *** This styling is an extra step which is likely not required. ***
  //
  // Why is it here? To ensure:
  // 1. the element is able to have focus and selection.
  // 2. if element was to flash render it has minimal visual impact.
  // 3. less flakyness with selection and copying which **might** occur if
  //    the textarea element is not visible.
  //
  // The likelihood is the element won't even render, not even a flash,
  // so some of these are just precautions. However in IE the element
  // is visible whilst the popup box asking the user for permission for
  // the web page to copy to the clipboard.
  //

  // Place in top-left corner of screen regardless of scroll position.
  textArea.style.position = 'fixed';
  textArea.style.top = 0;
  textArea.style.left = 0;

  // Ensure it has a small width and height. Setting to 1px / 1em
  // doesn't work as this gives a negative w/h on some browsers.
  textArea.style.width = '2em';
  textArea.style.height = '2em';

  // We don't need padding, reducing the size if it does flash render.
  textArea.style.padding = 0;

  // Clean up any borders.
  textArea.style.border = 'none';
  textArea.style.outline = 'none';
  textArea.style.boxShadow = 'none';

  // Avoid flash of white box if rendered for any reason.
  textArea.style.background = 'transparent';


  textArea.value = text;

  document.body.appendChild(textArea);

  textArea.select();

  try {
    var successful = document.execCommand('copy');
    var msg = successful ? 'successful' : 'unsuccessful';
    console.log('Copying text command was ' + msg);
  } catch (err) {
    console.log('Oops, unable to copy');
  }

  document.body.removeChild(textArea);
}

function CopyLink() {
  copyTextToClipboard(location.href);
}















 function getPageList(totalPages, page, maxLength) {
    if (maxLength < 5) throw "maxLength must be at least 5";
    function range(start, end) {
      return Array.from(Array(end - start + 1), (_, i) => i + start);
    }
    var sideWidth = maxLength < 9 ? 1 : 2;
    var leftWidth = (maxLength - sideWidth * 2 - 3) >> 1;
    var rightWidth = (maxLength - sideWidth * 2 - 2) >> 1;
    if (totalPages <= maxLength) {
      // no breaks in list
      return range(1, totalPages);
    }
    if (page <= maxLength - sideWidth - 1 - rightWidth) {
      // no break on left of page
      return range(1, maxLength - sideWidth - 1)
        .concat([0])
        .concat(range(totalPages - sideWidth + 1, totalPages));
    }
    if (page >= totalPages - sideWidth - 1 - rightWidth) {
      // no break on right of page
      return range(1, sideWidth)
        .concat([0])
        .concat(
          range(totalPages - sideWidth - 1 - rightWidth - leftWidth, totalPages)
        );
    }
    // Breaks on both sides
    return range(1, sideWidth)
      .concat([0])
      .concat(range(page - leftWidth, page + rightWidth))
      .concat([0])
      .concat(range(totalPages - sideWidth + 1, totalPages));
  }
function getPageList(totalPages, page, maxLength) {
    if (maxLength < 5) throw "maxLength must be at least 5";
    function range(start, end) {
      return Array.from(Array(end - start + 1), (_, i) => i + start);
    }
    var sideWidth = maxLength < 9 ? 1 : 2;
    var leftWidth = (maxLength - sideWidth * 2 - 3) >> 1;
    var rightWidth = (maxLength - sideWidth * 2 - 2) >> 1;
    if (totalPages <= maxLength) {
      // no breaks in list
      return range(1, totalPages);
    }
    if (page <= maxLength - sideWidth - 1 - rightWidth) {
      // no break on left of page
      return range(1, maxLength - sideWidth - 1)
        .concat([0])
        .concat(range(totalPages - sideWidth + 1, totalPages));
    }
    if (page >= totalPages - sideWidth - 1 - rightWidth) {
      // no break on right of page
      return range(1, sideWidth)
        .concat([0])
        .concat(
          range(totalPages - sideWidth - 1 - rightWidth - leftWidth, totalPages)
        );
    }
    // Breaks on both sides
    return range(1, sideWidth)
      .concat([0])
      .concat(range(page - leftWidth, page + rightWidth))
      .concat([0])
      .concat(range(totalPages - sideWidth + 1, totalPages));
  }
  $(function() {
    // Number of items and limits the number of items per page
    var numberOfItems = $("#jar .content").length;
    var limitPerPage = 6;
    // Total pages rounded upwards
    var totalPages = Math.ceil(numberOfItems / limitPerPage);
    // Number of buttons at the top, not counting prev/next,
    // but including the dotted buttons.
    // Must be at least 5:
    var paginationSize = 7;
    var currentPage;
    function showPage(whichPage) {
      if (whichPage < 1 || whichPage > totalPages) return false;
      currentPage = whichPage;
      $("#jar .content")
        .hide()
        .slice((currentPage - 1) * limitPerPage, currentPage * limitPerPage)
        .show();
      // Replace the navigation items (not prev/next):
      $(".pagination li")
        .slice(1, -1)
        .remove();
      getPageList(totalPages, currentPage, paginationSize).forEach(item => {
        $("<li>")
          .addClass(
            "page-item " +
              (item ? "current-page " : "") +
              (item === currentPage ? "active " : "")
          )
          .append(
            $("<a>")
              .addClass("page-link")
              .attr({
                href: "javascript:void(0)"
              })
              .text(item || "...")
          )
          .insertBefore("#next-page");
      });
      return true;

  

    }
    // Include the prev/next buttons:
    $(".pagination").append(
      $("<li>")
        .addClass("page-item")
        .attr({ id: "previous-page" })
        .append(
          $("<a>")
            .addClass("page-link")
            .attr({
              href: "javascript:void(0)"
            })
            .text("Prev")
        ),
      $("<li>")
        .addClass("page-item")
        .attr({ id: "next-page" })
        .append(
          $("<a>")
            .addClass("page-link")
            .attr({
               href: "javascript:void(0)"

            })
            .text("Next")
        )
    );

    // Show the page links
    $("#jar").show();
    showPage(1);
    // Use event delegation, as these items are recreated later
    $(document).on(
      "click",
      ".pagination li.current-page:not(.active)",
      function() {
        return showPage(+$(this).text());
      }
    );
    $("#next-page").on("click", function() {
      return showPage(currentPage + 1);
    });
    $("#previous-page").on("click", function() {
      return showPage(currentPage - 1);
    });
    $(".pagination").on("click", function() {
      $("html,body").animate({ scrollTop: 0 }, 0);
    });
  });


  
  $("#myModal").on("shown.bs.modal", function() {
    $("#myInput").trigger("focus");
  });

$("a.explore").click(function() {
    var id =$(this).attr("id");
    var link = $(this).attr("href");
    console.log("in a.modal_modal click:",link)
   console.log({{CSRF_COOKIE}})
    $.ajax({
		            type: "POST",
                      url: "{% url 'explore_link' group_id %}",
                      data :{
                              csrfmiddlewaretoken: "{{csrf_token }}",
                              node_id:id,
		              href_link : link,
                      },
                      datatype: "html",
                      success: function(data) {
            console.log("success");
                      }
           });


});





$('.target').click(function() {
    $('#output').html(function(i, val) { return val*1+1 });
});

$("a.video").click(function(){
        var id =$(this).attr("id");
  console.log(id);


});









$("a.video").click(function() {
    var id =$(this).attr("id");
    var link = $(this).attr("href");
    console.log("in a.modal_modal click:",link)
   console.log({{CSRF_COOKIE}})
    $.ajax({
                      type: "POST",
                      url: "{% url 'help_videos' group_id %}",
                      data :{
                              csrfmiddlewaretoken: "{{csrf_token }}",
                                      node_id:id,
		              href_link:link,
                      },
                      datatype: "html",

                      success: function(data) {
                      // $('#jar').html(data)
                      $(".muvideLu").html(data);
                      $("#exampleModalCenterLu").modal('show');

                      }
           });


});



$("a.modal_modal").click(function() {
    var id =$(this).attr("id");
    console.log("in a.modal_modal click:",id)
   console.log({{CSRF_COOKIE}})
    $.ajax({
		      type: "POST",
		      url: "{% url 'get_module_previewdata' group_id%}",
                      data :{
		              csrfmiddlewaretoken: "{{csrf_token }}",
		                      node_id:id,
                      },
		      datatype: "html",

		      success: function(data) {
		      // $('#jar').html(data)
		      $(".modal-content").html(data);
		      $("#exampleModalCenter").modal('show');

		      }
           });

          
});


$("a.module_module").click(function() {
    var id =$(this).attr("id");
    console.log("in a.modal_modal click:",id)
   console.log({{CSRF_COOKIE}})
    $.ajax({
                      type: "POST",
                      url: "{% url 'get_module_previewdata' group_id%}",
                      data :{
                              csrfmiddlewaretoken: "{{csrf_token }}",
                                      node_id:id,
                      },
                      datatype: "html",

                      success: function(data) {
                      // $('#jar').html(data)
                      $(".modal-content").html(data);
                      $("#exampleModalCenter").modal('show');

                      }
           });


});
/*
$("img.module_preview").click(function() {
    var id =$(this).attr("id");
    console.log("in a.modal_modal click:",id)
   console.log({{CSRF_COOKIE}})
    $.ajax({
                      type: "POST",
                      url: "{% url 'get_module_previewdata' group_id%}",
                      data :{
                              csrfmiddlewaretoken: "{{csrf_token }}",
                                      node_id:id,
                      },
                      datatype: "html",

                      success: function(data) {
                      // $('#jar').html(data)
                      $(".modal-content").html(data);
                      $("#exampleModalCenter").modal('show');

                      },
                     error: function(){
         $("#exampleModalCenterErrorPage").html(data);
}
           });


});
*/

function copy() {
  /* Get the text field */
  var copyText = document.getElementById("ucopy");

  /* Select the text field */
  copyText.select();

  /* Copy the text inside the text field */
  document.execCommand("copy");
  
  copyText.blur();
  
  /* Alert the copied text */
  alert("Copied the text: " + copyText.value);
}
/*
var twitterShare = document.querySelector('[data-js="twitter-share"]');

twitterShare.onclick = function(e) {
  e.preventDefault();
  var twitterWindow = window.open('https://twitter.com/share?url=' + document.URL, 'twitter-popup', 'height=350,width=600');
  if(twitterWindow.focus) { twitterWindow.focus(); }
    return false;
  }
*/
var facebookShare = document.querySelector('[data-js="facebook-share"]');

facebookShare.onclick = function(e) {
  e.preventDefault();
  var facebookWindow = window.open('https://www.facebook.com/sharer/sharer.php?u=' + document.URL, 'facebook-popup', 'height=350,width=600');
  if(facebookWindow.focus) { facebookWindow.focus(); }
    return false;
}

function _handleClick(event) {
  event.preventDefault();

  var textarea = document.createElement("textarea");

  textarea.style.position = 'fixed';
  textarea.style.top = '-1px';
  textarea.style.left = '-1px';
  textarea.style.width = '1px';
  textarea.style.height = '1px';
  textarea.style.opacity = 0;
  textarea.style.pointerEvents = 'none';

  textarea.value = window.location.href;

  document.body.appendChild(textarea);

  textarea.select();

  try {
    var copiedURL = document.execCommand('copy');
    if (copiedURL) {
      alert('URL Copied');
    } else {
      console.log('Copy failed');
    }
  } catch (err) {
    console.log('Copy failed',err);
  }

  document.body.removeChild(textarea);
}

document.getElementById('copy').addEventListener('click',_handleClick,false); 




$(".remove_weight_button").click(function(){
     

});




function modalhelpvi(){
 $("#exampleModalCenterLu").modal('show');
};





$(document).ready(function(){
  var show_btn=$('.show-modaltrue');
  var show_btn=$('.show-modaltrue');
  //$("#testmodal").modal('show');
  
    show_btn.click(function(){
      $("#exampleModalCenterLu").modal('show');
  })
});

</script>
