{% load i18n %}
{% load get_dict_from_list_of_dicts from simple_filters %}

{% load get_relation_value  from ndf_tags %}
<div class="col">
  <h2>
    <a
      href=""
      data-target="#sidebar"
      data-toggle="collapse"
      class="d-md-none text-center "
      ><i class="fa fa-bars"></i
    ></a>
  </h2>
  <main>
    <div class="col-md-sm-lg-10 ml-5 py-2 content-module">
      <div class="container" id="jar">
        <div class="row" style="">
	  
          {% for dest in files %}
	  
	   {% get_dict_from_list_of_dicts dest.attribute_set as node_attrs %}
            <div 
            class="card col-md-offset-2 shadow mb-3 border-rounded content"
            style="max-width: 400px; ">
           <div class="row no-gutters ">
              <div class="element">
                <span class="vert-flag">
		    <img  src="https://demo-clix.tiss.edu/static/ndf/images/favicon/clix-favicon.png"/></img>
		</span>
              </div>

              <div class="col-md-5 col-sm-6 mx-auto">
                <a  class="module_module" id="{{dest.id}}">
		  {% get_relation_value dest.id 'has_banner_pic' as grel_dict %}
                  {% if not grel_dict.cursor and grel_dict.grel_node and grel_dict.grel_node.if_file.original.relurl %}
                    <img  src="/media/{{grel_dict.grel_node.if_file.original.relurl}}" class=" card-img module_preview border-rounded mx-2 my-4  " alt="" /></img>
             {% else %}

                  <img
                    src="/static/ndf/images/module-card.png"
                    class="card-img border-rounded mx-2 my-4"
                    alt="..."
                  />
		   {% endif %}
                </a>
              </div>
              <div class="col-md-7 col-sm-12 pl-1">
                <div class="card-body c-body">
                  <div class="card-header c-header">
                    {{ dest.name }} <br />
                  </div>

                  <h6 class="card-title mt-2">
                    <span class="badge badge-secondary subject"  id="uu" data-toggle="tooltip" title="subject"
			  > {% if node_attrs.educationalsubject == "English" %}
<i class="fa fa-language fa-sm"></i>
{% elif node_attrs.educationalsubject == "Mathematics" %}
<i class="fa fa-calculator fa-sm"></i>
{% elif node_attrs.educationalsubject == "Science" %}
<i class="fa fa-flask fa-sm"></i>
 {% endif %}


{{ node_attrs.educationalsubject }} 
                    </span>
                    <span class="badge badge-secondary"   data-toggle="tooptip" title="grade"                      ><i class="fas fa-user-graduate fa-sm"></i>
		      {% for each_attr in node_attrs.educationallevel %}{{each_attr|slice:"5:"}}
		      {% if not forloop.last %}, {%endif %} 
		      {% endfor %}</span
                    >
                  </h6>
                  <p class="card-text" style="font-size:10px !important;">
                   {{dest.content|default:'No description added yet.'|safe| truncatechars:255}}
                    <br />
                  </p>
                  <div class="card-footer c-footer text-center">
                    <a href="https://demo-clix.tiss.edu/home/module/{{dest.id}}/courses" data-toggle="tooltip" title="explore module online"  target="_blank" >
                      <i class="fas fa-rocket    fa-lg"></i></a
                    >
<div class="dropdown show" style="display:inline-block">
                    <a href="" data-toggle="dropdown"  title="download offline verison"
                      ><i class="fas fa-cloud-download-alt  fa-lg">
                        <span
                          class="badge "
                          style="font-size:5px; background: #F0578F; color: #fff;"
                          >3</span
                        >
                      </i></a
                    >                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item">Download Unplatform verison for windows </a>
                          <a class="  dropdown-item" href="#" >Downlaod UnPlatform veriosn Debian</a>
                          
                        </div>
                      </div>

                    <div class="dropdown show" style="display:inline-block">  
   <a class=""        role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i data-toggle="tooltip" title="Share link" class="fas fa-share-alt  fa-lg"></i
                              >
                              <span
                        class="badge"
                        style="font-size:6px; background: #F0578F; color: #fff;"
                        >3</span
                      >
                        </a>
                      
                        <div class="dropdown-menu" href="" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item copy">copy</a>
                        <!--  <a class="
dropdown-item"  data-js="facebook-share">Share Facebook</a>
                          <a  class="dropdown-item" data-js="twitter-share" >Share on Twitter</a> -->
<a class="dropdown-item" href="http://www.facebook.com/sharer.php?s=100&amp;p[title]=[TITLE_GOES_HERE]&amp;p[summary]=[SUMMARY_GOES_HERE]&amp;p[url]=[URL_GOES_HERE]&amp;p[images[0]=[IMAGE_GOES_HERE]" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + document.URL, 'facebook-popup', 'height=350,width=600'); return false;"
>Share on Facebook</a>
<a class="dropdown-item" href="http://twitter.com/intent/tweet?text=[learn about Clix]" onclick="window.open(this.href, 'twitterwindow','left=20,top=20,width=600,height=300,toolbar=0,resizable=1'); return false;">Tweet this</a>


                        </div>
                      </div>
                    <!-- <a href="your link here"
                      ><i class="fas fa-share-alt mr-1 fa-lg"></i
                      ><span
                        class="badge"
                        style="font-size:8px; background: #F0578F; color: #fff;"
                        >3</span
                      ></a
                    > -->
                    <a class="modal_modal domain_modal "  title="preview" data-toggle="tooltip"   id="{{dest.id}}">
                 
   
  <i 
                      
                        class="fas fa-eye  fa-lg"
                      >
                      <span
                        class="badge"
                        style="font-size:8px; background: rgb(141, 132, 135); color: #fff;"
                        >3</span></i>
                    </a>

<a class="video" href="" data-toggle="tooltip" title="Help video" style="display:inline-block"> <i class="fas fa-video "></i> </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
	  {% endfor %}
<!--
<nav class="text-center">
  <ul class="pagination justify-content-center pagination-sm">
        </ul>
      </nav>  -->
          <!-- Button trigger modal -->
          <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-lg  modal-dialog-centered" role="document">
                <div class="modal-content">               
                </div>
              </div>
            </div>
          
        </div>
      </div>
         
          
    </div>

  </main>
</div>

<script type="text/javascript"> 


 function getPageList(totalPages, page, maxLength) {
    if (maxLength < 5) throw "maxLength must be at least 5";
    function range(start, end) {
      return Array.from(Array(end - start + 1), (_, i) => i + start);
    }
    var sideWidth = maxLength < 9 ? 1 : 2;
    var leftWidth = (maxLength - sideWidth * 2 - 3) >> 1;
    var rightWidth = (maxLength - sideWidth * 2 - 2) >> 1;
    if (totalPages <= maxLength) {
      // no breaks in list
      return range(1, totalPages);
    }
    if (page <= maxLength - sideWidth - 1 - rightWidth) {
      // no break on left of page
      return range(1, maxLength - sideWidth - 1)
        .concat([0])
        .concat(range(totalPages - sideWidth + 1, totalPages));
    }
    if (page >= totalPages - sideWidth - 1 - rightWidth) {
      // no break on right of page
      return range(1, sideWidth)
        .concat([0])
        .concat(
          range(totalPages - sideWidth - 1 - rightWidth - leftWidth, totalPages)
        );
    }
    // Breaks on both sides
    return range(1, sideWidth)
      .concat([0])
      .concat(range(page - leftWidth, page + rightWidth))
      .concat([0])
      .concat(range(totalPages - sideWidth + 1, totalPages));
  }
function getPageList(totalPages, page, maxLength) {
    if (maxLength < 5) throw "maxLength must be at least 5";
    function range(start, end) {
      return Array.from(Array(end - start + 1), (_, i) => i + start);
    }
    var sideWidth = maxLength < 9 ? 1 : 2;
    var leftWidth = (maxLength - sideWidth * 2 - 3) >> 1;
    var rightWidth = (maxLength - sideWidth * 2 - 2) >> 1;
    if (totalPages <= maxLength) {
      // no breaks in list
      return range(1, totalPages);
    }
    if (page <= maxLength - sideWidth - 1 - rightWidth) {
      // no break on left of page
      return range(1, maxLength - sideWidth - 1)
        .concat([0])
        .concat(range(totalPages - sideWidth + 1, totalPages));
    }
    if (page >= totalPages - sideWidth - 1 - rightWidth) {
      // no break on right of page
      return range(1, sideWidth)
        .concat([0])
        .concat(
          range(totalPages - sideWidth - 1 - rightWidth - leftWidth, totalPages)
        );
    }
    // Breaks on both sides
    return range(1, sideWidth)
      .concat([0])
      .concat(range(page - leftWidth, page + rightWidth))
      .concat([0])
      .concat(range(totalPages - sideWidth + 1, totalPages));
  }
  $(function() {
    // Number of items and limits the number of items per page
    var numberOfItems = $("#jar .content").length;
    var limitPerPage = 6;
    // Total pages rounded upwards
    var totalPages = Math.ceil(numberOfItems / limitPerPage);
    // Number of buttons at the top, not counting prev/next,
    // but including the dotted buttons.
    // Must be at least 5:
    var paginationSize = 7;
    var currentPage;
    function showPage(whichPage) {
      if (whichPage < 1 || whichPage > totalPages) return false;
      currentPage = whichPage;
      $("#jar .content")
        .hide()
        .slice((currentPage - 1) * limitPerPage, currentPage * limitPerPage)
        .show();
      // Replace the navigation items (not prev/next):
      $(".pagination li")
        .slice(1, -1)
        .remove();
      getPageList(totalPages, currentPage, paginationSize).forEach(item => {
        $("<li>")
          .addClass(
            "page-item " +
              (item ? "current-page " : "") +
              (item === currentPage ? "active " : "")
          )
          .append(
            $("<a>")
              .addClass("page-link")
              .attr({
                href: "javascript:void(0)"
              })
              .text(item || "...")
          )
          .insertBefore("#next-page");
      });
      return true;
    }
    // Include the prev/next buttons:
    $(".pagination").append(
      $("<li>")
        .addClass("page-item")
        .attr({ id: "previous-page" })
        .append(
          $("<a>")
            .addClass("page-link")
            .attr({
              href: "javascript:void(0)"
            })
            .text("Prev")
        ),
      $("<li>")
        .addClass("page-item")
        .attr({ id: "next-page" })
        .append(
          $("<a>")
            .addClass("page-link")
            .attr({
              href: "javascript:void(0)"
            })
            .text("Next")
        )
    );
    // Show the page links
    $("#jar").show();
    showPage(1);
    // Use event delegation, as these items are recreated later
    $(document).on(
      "click",
      ".pagination li.current-page:not(.active)",
      function() {
        return showPage(+$(this).text());
      }
    );
    $("#next-page").on("click", function() {
      return showPage(currentPage + 1);
    });
    $("#previous-page").on("click", function() {
      return showPage(currentPage - 1);
    });
    $(".pagination").on("click", function() {
      $("html,body").animate({ scrollTop: 0 }, 0);
    });
  });
  
  $("#myModal").on("shown.bs.modal", function() {
    $("#myInput").trigger("focus");
  });





$("a.modal_modal").click(function() {
    var id =$(this).attr("id");
    console.log("in a.modal_modal click:",id)
   console.log({{CSRF_COOKIE}})
    $.ajax({
		      type: "POST",
		      url: "{% url 'get_module_previewdata' group_id%}",
                      data :{
		              csrfmiddlewaretoken: "{{csrf_token }}",
		                      node_id:id,
                      },
		      datatype: "html",

		      success: function(data) {
		      // $('#jar').html(data)
		      $(".modal-content").html(data);
		      $("#exampleModalCenter").modal('show');

		      }
           });

          
});


$("a.module_module").click(function() {
    var id =$(this).attr("id");
    console.log("in a.modal_modal click:",id)
   console.log({{CSRF_COOKIE}})
    $.ajax({
                      type: "POST",
                      url: "{% url 'get_module_previewdata' group_id%}",
                      data :{
                              csrfmiddlewaretoken: "{{csrf_token }}",
                                      node_id:id,
                      },
                      datatype: "html",

                      success: function(data) {
                      // $('#jar').html(data)
                      $(".modal-content").html(data);
                      $("#exampleModalCenter").modal('show');

                      }
           });


});
/*
$("img.module_preview").click(function() {
    var id =$(this).attr("id");
    console.log("in a.modal_modal click:",id)
   console.log({{CSRF_COOKIE}})
    $.ajax({
                      type: "POST",
                      url: "{% url 'get_module_previewdata' group_id%}",
                      data :{
                              csrfmiddlewaretoken: "{{csrf_token }}",
                                      node_id:id,
                      },
                      datatype: "html",

                      success: function(data) {
                      // $('#jar').html(data)
                      $(".modal-content").html(data);
                      $("#exampleModalCenter").modal('show');

                      }
           });


});
*/

function copy() {
  /* Get the text field */
  var copyText = document.getElementById("ucopy");

  /* Select the text field */
  copyText.select();

  /* Copy the text inside the text field */
  document.execCommand("copy");
  
  copyText.blur();
  
  /* Alert the copied text */
  alert("Copied the text: " + copyText.value);
}
var twitterShare = document.querySelector('[data-js="twitter-share"]');

twitterShare.onclick = function(e) {
  e.preventDefault();
  var twitterWindow = window.open('https://twitter.com/share?url=' + document.URL, 'twitter-popup', 'height=350,width=600');
  if(twitterWindow.focus) { twitterWindow.focus(); }
    return false;
  }

var facebookShare = document.querySelector('[data-js="facebook-share"]');

facebookShare.onclick = function(e) {
  e.preventDefault();
  var facebookWindow = window.open('https://www.facebook.com/sharer/sharer.php?u=' + document.URL, 'facebook-popup', 'height=350,width=600');
  if(facebookWindow.focus) { facebookWindow.focus(); }
    return false;
}

 
</script>
