


<style>
@media only screen and (max-width:700px) {
.rotateslider-container .rotateslider-item.now {
opacity:4;

}

.
.rotateslider-container 
 .rotateslider-item.prev {
opacity:0.1 !important;
}
.rotateslider-container 
 .rotateslider-item.next ,
 .rotateslider-item.next {
opacity:0.1;
}
}
.rotateslider-container  p{ 
text-align:justify;
font-size:12px;
font-weight: 300 !important;
}

.rotateslider-container{
height: 300px !important;
}
.rotateslider-container .rotateslider-item.prev {
opacity: 0.1 !important;
}
</style>
    <div class="jquery-script-center">
        <div class="rotateslider-container" style="background:#fff;" id="slider">
  {% if first_arg == 'Mathematics' %}
          {% for slide in testimony.Team_detail_math %}
            
        <div class="rotateslider-item" >


            <div class='card card-profile text-center'>
                <img alt='' class='card-img-top' src='/static/ndf/VOICES_340X160._13.09.19.svg'>
              <div class="card-img-overlay">
  <button type="button" class="btn btn-dark " style="margin-top:-40px; margin-left:10px;">
                
                    
{{slide.user1}}               </button> 
                
                <p style="color:#fff; font-weight:bold; text-align: justify;"> 
                                      &quot; {{ slide.UDetails | truncatechars:255 }}      &quot;

                    </p>
              </div>
  <div class='card-block'>
<img alt='' class='card-img-profile'
 src='/static/ndf/profile4.png' style="margin-left:200px;"  width='100px' height='100px' />

                  <h6 class='card-title' style="text-align:left !important; margin-left:10px !important;  margin-top:-90px; margin-left:-150px;">
                                       {{ slide.userName }}

<!--
                    <small>{{slide.jobTitleName}}</small> -->
                  </h6>
                    <p style="text-align:left !important; font-weight:400 !important;  margin-top: -40px; margin-left: 10px !important;" >{{slide.jobTitleName}}</p>

                  <div class='card-links'>
                   
                  </div>
                </div>
              </div>
              
        </div>
{% endfor %}
{% endif %}


 {% if first_arg == 'Science' %}
          {% for slide in testimony.Team_detail_science %}

  <div class="rotateslider-item">
            <div class='card card-profile text-center'>
                <img alt='CLIx oer Voices from field' class='card-img-top' src='/static/ndf/VOICES_340X160._13.09.19.svg'>
              <div class="card-img-overlay">
  <button type="button" class="btn btn-dark " style="margin-top:-40px; margin-left:10px;">
                
                    {{slide.user1}}
                </button> 
                
                <p style="color:#fff; font-weight:bold">
                                      &quot;   {{ slide.UDetails | truncatechars:255 }}    &quot; 

                    </p>
              </div>
  <div class='card-block'>
                  <img alt='OER Voices from field' class='card-img-profile' src='https://previews.123rf.com/images/nexusby/nexusby1810/nexusby181000286/111362910default-avatar-placeholder-profile-icon-male.jpg' style="margin-left:200px;"  width='100px' height='100px'>
                  <h4 class='card-title'   style="text-align:left !important; margin-left: 1rem !important;  margin-top:-90px; margin-left:-90px;">
                                         {{ slide.userName }}                 
                  
                  </h4>
                                       <p style="text-align:left !important; font-weight:400 !important;  margin-top: -40px; margin-left: 10px !important;">{{slide.jobTitleName}}</p>

                  <div class='card-links'>

                  </div>
                </div>
              </div>

        </div>
{% endfor %}
{% endif %}

 {% if first_arg == 'English' %}
          {% for slide in testimony.Team_detail_english %}

  <div class="rotateslider-item">
 


            <div class='card card-profile text-center'>
                <img alt='' class='card-img-top' src='/static/ndf/VOICES_340X160._13.09.19.svg'>
              <div class="card-img-overlay">

  <button type="button" class="btn btn-dark " style="margin-top:-40px; margin-left:10px;">
                
                   {{slide.user1}}             </button> 
                
                <p style="color:#fff; font-weight:bold">
           &quot;                                     {{ slide.UDetails | truncatechars:255 }}  &quot;
     
                    </p>
              </div>
  <div class='card-block'>
                  <img alt='' class='card-img-profile' src='https://previews.123rf.com/images/nexusby/nexusby1810/nexusby181000286/111362910default-avatar-placeholder-profile-icon-male.jpg' style="margin-left:200px;"  width='100px' height='100px'>
                  <h4 class='card-title'  style="text-align:left !important; margin-left:10px !important; margin-top:-90px; margin-left:-100px; ">
                                       {{ slide.userName }}
<!--                    <small>{{slide.jobTitleName}}</small>
    -->            
  </h4>
                    <p style="text-align:left !important; font-weight:400 !important;  margin-top: -40px; margin-left: 10px !important;" >  {{slide.jobTitleName}} </p>

                  <div class='card-links'>

                  </div>
                </div>
              </div>

        </div>
{% endfor %}
{% endif %} 
        <span class="arrow right js-rotateslider-arrow" data-action="next"><i class="fa fa-angle-right fa-3x"></i></span>
        <span class="arrow left js-rotateslider-arrow" data-action="prev"><i class="fa fa-angle-left fa-3x"></i></span>
      </div>


      <script>
      
      $(function() {
  $('#slider').rotateSlider({

  });

});
      </script>
