

<div class="container mt-4">
    <div class="row">
      <div class="col-sm-9">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item " style="margin-left:2rem;"aria-current="page" style="color:#000;"> <a style="color:#fff;" href="{% url 'e-library' group_id  %}">  <i class="ml-n4 fas fa-home fa-lg"></i> E-library</li> </a>
          <!--  <li class="breadcrumb-item " aria-current="page"> Math</li> -->
          </ol>
        </nav>
        
    </div>
      <div class="col-sm-3 dropdown" data-toggle="tooltip"  > <button type="button"  class="btn btn-primary butn mx-n2" data-toggle="dropdown" id="dropdownMenuButton"  data-toggle="tooltip"   title="Download offline version of all modules">Download All &nbsp;<i data-toggle="tooltip"  class="fas fa-cloud-download-alt" ></i>

</button>
<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/media/2/7/b/bbc0f553a80f027323da5b7153d076fd51896fb6de077ea08405d5d81fdc6" Download="CLIxEnglishModules_v2.4.0-En">Download all of CLIxEnglish modules
</a>
    <a class="dropdown-item" href="/media/2/d/b/027d894cc2cf2a76c82a4517f3e76a6e189da9f372f7b357dca54ddc9548e" Download="CLIxMathModules_v2.4.0-En">Download all of CLIxMathematics modules
</a>
    <a class="dropdown-item" href="/media/4/d/4/a43622911a396eb3c35d00de6b4a38e1e83d258aff64f72814b5704a7adb8" Download="CLIxScienceModules_v2.4.0-En">Download all of CLIxScience modules</a>
  </div>

     
</div>


    </div>
</div>
<style>
@media only screen and (max-width:440px){
.breadcrumb-item {
margin-left:1rem;
}
}

.breadcrumb-item {
color: #000;
background:#ccc;
}

@media only screen and (min-width:1100px){
 .breadcrumb  {
margin-left: -40px;
}

@media only screen and (max-width:700px){
.breadcrumb  {

margin-left:40px;
}
 .breadcrumb-item {
margin-left:1rem !important;
}
}


</style>
