{% load i18n %}

<style>

.switch {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 50px;
}

.switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 15px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 15px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}














</style>




<div class="col-12 col-md-2 col-sm-10 col-md-2 collapse d-md-flex navbar-expand-lg pt-2 min-vh-100" id="side">
	<nav>
        	<ul class="nav flex-column nav-pills nav-scroll">
                        <li class="nav-item" id="main-page"> <a class="nav-link collapsed " href="#submenu1" data-toggle="collapse" data-target="#submenu1" tabindex="6" data-toggle="tooltip" title="Click to filter by subjects"><i class="fas fa-globe solid"  > </i>{% trans 'Subjects' %}   <i  data-toggle="tooltip" title=" {% trans  "Click to filter by subjects" %}"  class="float-right fas fa-minus-circle fa-lg u"></i></a></li>
                        <div class="collapse show" id="submenu1"   aria-expanded="false">
                            <ul class="flex-column pl-1 nav su">

<!--
<li > 

<a  class="nav-link lu" style="background-image: rgb(131,58,180) !important;                                   
background-image: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(207,65,174,1) 10%, rgba(186,40,125,1) 74%) !important;                   
"> <i class="fa fa-language" > English   </i>

  <label class="switch" for="English">
    <input type="checkbox" id="English" value="English" class="searchfilter" name="english"  />
   <div class="slider round"></div> 
    </label>
</a>
     </li>             -->

       <li class="nav-ite " >
				<a class="nav-link lu" style="background-image: rgb(131,58,180) !important;
background-image: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(207,65,174,1) 10%, rgba(186,40,125,1) 74%) !important;
"><i class="fa fa-language" > </i>{% trans 'English' %}
 					<input  id="English" type="checkbox" 
  value="English" value="English" class="searchfilter" name="english" /> 
					<!--<i class="fas fa-font" > </i>English -->				</a>
			</li>
                        <li class="nav-ite">
				<a class="nav-link lu"   style="background-image: rgb(131,58,180) !important;
background-image: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(207,65,174,1) 10%, rgba(186,40,125,1) 74%) !important;
"> <i class="fas fa-calculator"></i>{% trans 'Math' %}   
     <!--                   <label class="switch" for="Mathematics">   -->
      
					<input id="Mathematics" type="checkbox" value="Mathematics" class="searchfilter"   name="english">
					<!--   <i class="fas fa-calculator"></i> Math -->	
 <!--  <div class="slider round"> </div> 
</label>  -->

		</a></li>
                                <li class="nav-ite " >
					<a class="nav-link lu" style="background-image: rgb(131,58,180) !important; 
background-image: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(207,65,174,1) 10%, rgba(186,40,125,1) 74%) !important;"> <i class="fas fa-flask"></i>

{% trans 'Science' %}
<!--		
    <label class="switch" for="Science"> -->
				<input id="Science" type="checkbox" value="Science" class="searchfilter"  name="english">
						<!--<i class="fas fa-flask"></i> Science --> 
<!--
<div class="slider round"> </div>   
</label>  -->

					</a>
				</li>
 <li class="nav-ite " >
                                        <a class="nav-link lu" style="background-image: rgb(131,58,180) !important;                           
background-image: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(207,65,174,1) 10%, rgba(186,40,125,1) 74%) !important;"> <i class="fas fa-flask"></i>

{% trans 'Digital Literacy' %}
<!--                                                                                                                                          
    <label class="switch" for="Science"> -->
                                <input id="digital" type="checkbox" value="Digital Literacy" class="searchfilter"  name="english">
                                                <!--<i class="fas fa-flask"></i> Science -->
<!--                                                                                                                                          
<div class="slider round"> </div>                                                                                                             
</label>  -->

                                        </a>
                                </li>

                            </ul>
                        </div>
                    </li>     
            <section class="load">
           <li class="nav-item nav-reload targetele"><a class="nav-link " data-toggle="tooltip" title="{% trans "Click to see modules" %}"  id="module"  > <img src="/static/ndf/modules.png" class="img-fluid" style="width:25px;  height:25px; " >{% trans 'Modules' %}  {{file_pages}}</a></li>
                    <li class="nav-item nav-reload"><a class="nav-link targetele" id="module_interactive" data-toggle="tooltip" title="{% trans "Click to see interactives" %}"  >   <i class="fas fa-dice-d6 "></i> {% trans 'Interactives' %}   {{interactive_pages}}</a></li>
                 <li class="nav-item nav-relaod"><a class="nav-link targetele " data-toggle="tooltip" 
 title=   " {% trans   "Click to see teacher and student handbooks" %}"  id="handbook" ><img  class="img-fluid" src="/static/ndf/handbooks2.png" style="width:24px;  height:24px;"></i>
{% trans 'Handbooks' %}   {{doc_pages}}</a></li>
</section>
	 <!-- 	   <li class="nav-item nav-relaod"><a class="nav-link" id="_image"  href="#"><i class="fas fa-images fa-sm"></i> Images {{image_pages}}</a></li>
                   <li class="nav-item nav-relaod"><a class="nav-link" id="audio" href="#"><i class="fas fa-images fa-sm"></i> Audios {{audio_pages}}</a></li>
		   <li class="nav-item nav-reload"><a class="nav-link" id="video"  href="#"><i class="fas fa-images fa-sm"></i> Videos {{video_pages}}</a></li>
                </ul>
              </nav>
       </section>
     
        <!-- <li class="nav-item"><a class="nav-link" href="#"><i class ="fas fa-bar-chart fa-lg"></i>Handbook</a></li> -->
         <!-- <li class="nav-item"><a class="nav-link" href="#"> <i class="fas fa-puzzle-piece fa-lg"></i> Modules</a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-hand-holding-book "></i> Interactive</a></li>
             <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-images fa-sm"></i> Handbook</a></li> -->
        <!-- <li class="nav-item" ><a class="nav-link" href="#"><i class="fas fa-play-circle fa-lg"></i> Video's</a></li>
         <li class="nav-item" id="image_player"><a class="nav-link" > <i class="fas fa-desktop fa-sm"></i>latform</a></li> -->
   
</div>
<script>



var domain;
$('#module').click(function() {
var domains = $("input:checked").map(function(){
     return $(this).val();
    }).get(); // <----

$.ajax({
            type: "POST",
            url: "{% url 'elib_paged_file_objs' group_name_tag 'Module' 1 %}",
            datatype: "html",
	    traditional : true,
            data:{
              csrfmiddlewaretoken: '{{ csrf_token }}',
              domain_name : domains,
	      domain_selected:domains,
            },
            beforeSend: function() {
              $("#overlay").show();
                  },

            
            success: function(data) {
              $("#overlay").hide();
              $('#jar').html(data)
               

            }
          });
          
});

$('#handbook').click(function() {
var domains = $("input:checked").map(function(){
     return $(this).val();
    }).get(); // <----
console.log([],domains);
{
		    $.ajax({
		    type: "POST",
                		    url: "{% url 'elib_paged_file_objs' group_name_tag 'Document' 1 %}",
		    datatype: "html",
		    traditional : true,
		    data:{
		    csrfmiddlewaretoken: '{{ csrf_token }}',
		    domain_name:domains,
		    domain_selected:domains,
                    },
                    beforeSend : function() {
                         $("#overlay").show();
                         },
		    success: function(data) {
                    $("#overlay").hide();
		    $('#jar').html(data)


            }
          });
};
});

$('#_image').click(function() {
$.ajax({
            type: "POST",
            url: "{% url 'elib_paged_file_objs' group_name_tag 'Image' 1%}",
            datatype: "html",
            data:{

              csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data) {
              $('#jar').html(data)


            }
          });

});

$('#module_interactive').click(function() {
var domains = $("input:checked").map(function(){
     return $(this).val();
    }).get(); // <----
console.log([],domains);
{
                    $.ajax({
                    type: "POST",
                    url: "{% url 'elib_paged_file_objs' group_name_tag 'interactives' 1 %}",
                     datatype: "html",
                    traditional : true,
                    data:{
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    domain_name:domains,
                    domain_selected:domains,
                    },
                    beforeSend: function() {
                       $("#overlay").show();
                       },
                    success: function(data) {
                     $("#overlay").hide();
                    $('#jar').html(data)
            }

          });
};
});
$('#audio').click(function() {
$.ajax({

            type: "POST",
            url: "{% url 'elib_paged_file_objs' group_name_tag 'Audio' 1  %}",
            datatype: "html",
            data:{

              csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data) {
              $('#jar').html(data)


            }
          });

});

$('#video').click(function() {
$.ajax({
            type: "POST",
            url: "{% url 'elib_paged_file_objs' group_name_tag 'Video' 1  %}",
            datatype: "html",
            data:{

              csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data) {
              $('#jar').html(data)


            }
          });

});

$('#main-page').click(function() {
    $('#submenu1').toggle();
    $(".u", this).toggleClass(" fa-minus-circle fa-lg  fa-plus-circle fa-lg  ");
});

$('.nav').on('click', 'li', function(){
    $('.nav li').removeClass('active');
    $(this).addClass('active');
});



$('.searchfilter').click(function(e) {
//  e.preventDefault();
console.log("IN fileter");

domain = $("input:checked").map(function(){
     return $(this).val();
    }).get();
console.log("==========================")
//console.log($(this).text)
//console.log(domain) 
    console.log([],domain);  
//{
            $.ajax({
                type: "POST",
                url: "{% url 'e-library_domainwise' group_name_tag  %}",
                datatype:"html",
                traditional: true,
                data: {
              csrfmiddlewaretoken: '{{ csrf_token }}',
              domain_name:domain,

	          },
                beforeSend: function() {
            $("#overlay").show();
              

 },
                success: function(data) {                // alert('it worked');
                 
                 //$('#sidebar').html('#'); 
                   $("#overlay").hide();
                 $('#x').html(data);
            

                },
                 error: function() {
                    $("exampleModalCenterErrorPage").html(data);
              },
                complete: function() {
                  //  alert('it completed');
                },
            });

       
      //};

});

$(function(e){
  console.log("in function document ready")
  console.log(domain);
  if(domain != undefined){
  for(i=0;i<domain.length;i++){
          if (domain[i] == 'English'){
	            document.querySelector('#English').checked = true;
	            }
	            if (domain[i]== 'Mathematics'){
	                  document.querySelector('#Mathematics').checked = true;
              }
	            if (domain[i]== 'Science'){
	                  document.querySelector('#Science').checked = true;
              }
                      if(domain[i] == 'Digital Literacy'){
                        document.querySelector('#digital').checked = true;
}
	      }
   }
});


</script>
