<div class="surrounding-color">
  <div class=" surrounding-color  ">
  <section class=" py-2">
      <div class="blog mt-5 mx-3" style="background-image: url(/static/ndf/TISSx Logo Transparent-01.png )">
          <div class="card mb-3 mb-5  blog-c" style="max-width: 1400px;">
            <div class="row no-gutters">
              <div class="col-10  col-md-3  col-sm-10">
                <img src="/static/ndf/TISSx Logo_13.08-06.png" class="card-img img-fluid img-course" alt="...">
<!--          <img src="/static/ndf/TISSx Logo Transparent-01.png" width="300px" height="300px"> -->
              </div>
              <div class="col-12 col-md-9 col-sm-12">
                <div class="card-body">
                  <h5 class="card-title"> TISSx </h5>
                  <p class="card-text" style="font-size:14px; text-align:justify;">
<!--
 TISS offers MOOCs and SPOCs through our own  Course Management platform TISSx. The Reflective Teaching with ICT programme RTICT for teachers offers pedagoical courses to teachers  to understand the design principles of OER including CLIx modules and how to use them in the teaching learning process.
-->
TISS offers MOOCs and SPOCs through our own Course Management platform TISSx. The Reflective Teaching with ICT programme (RTICT) for teachers offers pedagoical courses to teachers  to understand the design principles of OER including CLIx modules and how to use them in the teaching learning process. Through TISSx we aim to reach learners in a wider range of settings and offer them unique, relevant, high-quality opportunities for continuous learning and professional development. TISSx can be accessed through a range of devices: desktops, laptops, tablets, and mobile phones. The TISSx Android app can be downloaded from the <a href="https://play.google.com/store/apps/details?id=edu.tiss.tissx.app&hl=en_US" target="_blank"> Google Play Store </a>.
 </p>
              <!--    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
               -->
                    <button class="btn btn-primary "> <a  href="https://www.tissx.tiss.edu" target="_blank" title="Explore teacher courses on TiSSx website" style="color:#fff;"> Explore more </a></button>
                  
                </div>
              </div>
            </div>
          </div>
          </div>
