

{% load i18n %}

<style>
.img-c-c {
margin: 10px 10px;
border-radius: 25px;
height:250px;
}
.img-repo-cc{
margin: 10px 20px;
width:300px;
height:250px;
}
@media only screen and (min-width:1440px){
.blog  {
margin-left : -5rem;
}
@media only screen and (max-width:400px){
.img-c {
margin-left: 10px;
}
@media only screen and (min-width:1100px){
.img-repo-cc {
margin:20px 170px !important;
}
.blog-c{
margin-left: 3rem;
}
}
@media only screen and (max-width:540px){
.img-repo-cc
 {
margin:10px 20px !important;
}
}
</style>
<div class="surrounding-color py-5">
<div class=" surrounding-color px-2">
<section class="">
    <div class="blog ml-5 ">
        <div class="card mb-3  mb-5  blog-c" style="max-width: 1400px;">
          <div class="row no-gutters">
            <div class="col-10  col-md-3  col-sm-10">
              <img src="/static/ndf/What we are 2.png " class="card-img img-fluid img-c-c mb-3 " alt="...">
            </div>
            <div class="col-12 col-sm-12 col-md-8 col-md-8 col-sm-12 col-lg-8">
              <div class="card-body">
                <h5 class="card-title"> గురించి
 CLIx
 </h5>
                <p class="card-text" style="text-align:justify;">  కనెక్టెడ్ లర్నింగ్ ఇనిషియేటివ్ (CLIx) ఇండియా యొక్క సార్వజనీక విద్యా వ్యవస్థలో నాణ్యమైన బోధన మరియు అభ్యాసానికి సంబంధించిన ఒక ధైర్యమైన మరియు సృజనాత్మక ప్రక్రియ. ప్రబలమైన లక్ష్యం నూతన మాధ్యమం మరియు డిజిటల్ సాంకేతికతలను అర్థవంతంగా ఉపయోగించడం ద్వారా ఉన్నతమైన నాణ్యతను ప్రదర్శించడానికి ఉన్నది. క్రియాశీలమైన మార్గాలలో జ్ఞానమును పెంచుకోవడానికి ఒక సులువైన పద్ధతిలో పనిచేయడానికి విద్యార్థులకు CLIx అవకాశాలు అందిస్తుంది. ఈ చొరవ 2015 రూపుదిద్దుకుని, టాటా ట్రస్ట్స్, ఇండియా ద్వారా మరియు టాటా ఇన్ స్టిట్యూట్ ఆఫ్ సోషల్ సైన్సెస్ (TISS), ముంబై, ఇండియా మరియు మసాచుసెట్స్ ఇన్‌స్టిట్యూట్ ఆఫ్ టెక్నాలజీ (MIT), ఎమ్ఎ, యుఎస్ఎ ద్వారా నడుపబడుతున్నది.

<br/>
                <!--  &nbsp; &nbsp; &nbsp; &nbsp; --> CLIx ఆలోచనాత్మక బోధనాత్మక నిర్మాణాన్ని కలిగి ఉంది మరియు సమకాలీన సాంకేతికత మరియు ఆన్ లైన్ సమర్థతలను ప్రభావితం చేస్తుంది. మేము ఈ మాడ్యూళ్లను చత్తీస్ ఘడ్, మిజోరాం, రాజస్థాన్ మరియు తెలంగాణాలో ప్రభుత్వ సెకండరీ పాఠశాలల విద్యార్థులు మరియు ఉపాధ్యాయులకు వారి ప్రాంతీయ భాషలలో అందిస్తున్నాము.

             <br/>  
             2015 నుండి, CLIx బహుళ భాగస్వాములతో విస్తృతమైన ఒప్పంద ప్రయత్నాలతో సెకండరీ పాఠశాల విద్యార్థుల సాంకెతికత- వీలుకల్పించే STEM వనరులు (10 మాడ్యూళ్ళు), డిజిటల్ లిటరసీ (5 మాడ్యూళ్లు), కమ్యీనికేటివ్ ఇంగ్లీష్ మరియు జీవన నైపుణ్యాలు (4 మాడ్యూళ్ళు) అందిస్తూ ఒక ఒపెన్ సోర్స్ డిజిటల్ లర్నింగ్ ప్లాట్‌ఫారం భారతీయ పాఠశాలల కొరకు మరియు పని చేయడం ప్రోత్సహించుతున్నది. ఉపాధ్యాయుని నైపుణ్య అభివృద్ధి నైపుణ్య సమాజాల పద్ధతి మరియు ఐసిటితో రిప్లెక్టివ్ టీచింగు(ప్రతిబింబ బోధన)లో పోస్టు గ్రాడ్యుయేట్ సర్టిఫికేట్ కోర్సుతో మిళితమై ఉంటుంది. అన్ని అభ్యాస వనరులు ఓపెన్ ఎడ్యుకేషనల్ వనరులుగా మరియు ముఖాముఖిగా ఉండటానికి ఒప్పందం కాపాడి మరియు విలువలను సమీకృతం చేయడానికి మరియు 21వ శతాబ్దపు నైపుణ్యాలు నేషనల్ కరికులం ఫ్రేమ్‌వర్క్(NCF) 2005 యొక్క శిక్షణ తీరు ప్రకారం చేయబడినాయి.

<br/>    ఈ చొరవ విద్యా విభాగంలో ఇన్ఫర్మేషన్ అండ్ కమ్యూనికేషన్ టెక్నాలజీ (ICT) ఉపయోగంలో ప్రతిష్టాత్మక 2017 కింగ్ హమద్ బిన్ ఇసా అల్-ఖలీఫా బహుమతిని గెలిచింది. పరిశోదన మరియు ఒప్పందాల ద్వారా, CLIx పేద సమాజాల కొరకు స్కేలింగుని మెరుగుపరచడానికి భాగస్వామ్యాలు మరియు సృజనాత్మకత యొక్క ఉత్సాహపూరితమైన పర్యావరణ వ్యవస్థను పెంపొందించుకోవాలని కోరుతున్నది.

<br>
<!-- 
To know more about us and our work check out our website at <a href="https://clix.tiss.edu/">clix.tiss.edu </a>
-->
 మా గురించి మరియు మా పని గురించి మరింత తెలుసుకోవడనికి మా వెబి్ సైట్ ని చూడండి  <a href="https://clix.tiss.edu/">clix.tiss.edu </a>

  
  </p>           
           <!--       <button class="btn btn-primary butn"> Read more</button>
               --> 
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="blog-c">
            <div class="card mb-3    blog-cc" style="max-width: 1400px;">
              <div class="row no-gutters">
                <div class="col-12 col-md-8 col-sm-12">
                <div class="card-body">
                    <h5 class="card-title"> {% trans   'CLIx OER' %} </h5> 
                    <p class="card-text" style="font-size:14px; text-align:justify; overflow:auto; "> 
                        సంవత్సరాలుగా, CLIx హైస్కూలు విద్యార్థులు మరియు ఉపాధ్యాయుల కొరకు అదిక నాణతగల వనరుల గల వ్యాప్తిలో అభివృద్ధి చేసింది. తన విజన్(దృష్టి) ద్వారా CLIx ఈ అధిక నాణ్యమైన అసెట్లను(విలువలను) బహిరంగ విద్యా వనరులుగా (OERs) మరియు ఈ పోర్టల్ వాటిని బహిరంగ లైసెన్సులుగా ద్వారా వారికి మార్చింది తద్వారా ఎవరైనా మళ్లీ ఉపయోగించవచ్చు, మళ్లీ తయారు చేయవచ్చు, సవరించవచ్చు మరియు ఈ OERలను విభిన్న సందర్భాలకు సవరించి మరియు అనుసరించవచ్చు. ఈ ప్రక్రియలో, మేము స్వేచ్ఛగా ఉండాలనే ఉద్దేశ్యంతో ఉన్నాము- అందులో మేము 'స్వేచ్ఛ'ని స్వేచ్ఛాయుత భావన మరియు స్వాతంత్రంగా, నేర్చుకోవడనికి మరియు పెరుగుదలకు నిర్వచిస్తాము!

<br/>
ప్రస్తుతం, CLIxOERలు గణితం, విజ్ఞానశాస్త్రాలు, కమ్యూనికేటివ్ ఇంగ్లీషు మరియు డిజిటల్ లిటరసీ విభాగాలలో 120 గంటల కన్నా మించిన కంటెంట్, 40 డిజిటల్ ఇంటరాక్టివ్ గేమ్స్ మరియు సిములేషన్లు మరియు టీచర్ సపోర్ట్ మెటీరియల్ కన్నా ఎక్కువ - అన్నీ ఇంగ్లీషు, హిందీ మరియు తెలుగు భాషలలో ఆన్ లైన్ మరియు ఆఫ్ లైన్ వెర్షన్లలో అందుబాటులో ఉన్నాయి. ఒఇఆర్ వనరులే కాకుండా, CLIxOER పోర్టల్ డిజైన్ మరియు డవలప్మెంట్ ప్రక్రియలలో కూడా అంతర దృష్టితో బాటు డిజైన్ ఆధారిత పరిశోధనను ఈ విద్యాసంబంధ వనరులను సృష్టించే వాటిలో కూడా అందిస్తుంది.  అందువలన, పోర్టల్ ఉపాధ్యాయులకు, విద్యారథులకు, అధ్యాపకులకు మరియు విధాన కర్తలకు విభిన్న వనరులను అందిస్తుంది.

<br/>

                      <br/>CLIxలో మేము సహకారం మరియు అభిప్రాయం మరియు పరావర్తనం ద్వారా మెరుగు పరచడాన్ని మేము నమ్ముతాము.  దయచేసి మా సంప్రదింపు పత్రము ద్వారా మమ్నల్ని సంప్రదించండి మరియు మీరు మాతో ఒప్పందం చేయాలనుకున్నారా లేదా సత్వర అభిప్రాయాన్ని పంపండి.
  </p>
          
                  </div>
                </div>
              
                 
                   <div class="col-10  col-md-3  col-sm-10">
                  <img src="/static/ndf/CLIxOER_without logo.png" class="card-img img-fluid img-repo-cc "  alt="...">
                </div>
                </div>
<div class="row mt-2" >
<div class="col-6 text-center">
<img src="/static/ndf/pillars.png" class="img-fluid col-6 mx-auto" width="70%">
            
     </div>
<div class="col-6 text-center ml-n5">
<img src="/static/ndf/dbr.png"  class="img-fluid col-6 0" style="margin-left: -5%;" width="80%" >
</div>
<div class="col-12 mt-2" >
<br>
<p class="" style="margin:10px;">
    CLIx మాడ్యూల్ కంటెంట్, టెక్నాలజీ టూల్స్ మరియు లగ్నింగ్ ప్లాట్ ఫారాన్ని డిజైన్ ఆధారిత పరిశోధన ప్రక్రియ యొక్క ఒక కఠినమైన, పునరావృత ప్రక్రియ ద్వారా సృష్టించబడినాయి. CLIx మాడ్యూళ్ళ డిజైన్ మరియు డెవలప్మెంట్ ఒప్పందం, తప్పుల నుండి నేర్చుకోవడం మరియు అధికారిక అభ్యాసం యొక్క మూడు విద్యాసంబంధ స్తంభాలుగా మార్గదర్శకం చేయబడినాయి. ఈ స్తంభాలు CLIxని అమలుచేసే డిజైనర్లు, విద్యార్థులు మరియు ఉపాధ్యాయులకు అమూల్యమైనవిగా నిరూపితం అయినాయి. సమీప భవిష్యత్తులో మరిన్ని వనరులు అభివృద్ధి చేసి, పెంచి మరియు చేర్చడం కొనసాగించాలని మేము ఆశపడుతున్నాము. ఈ OERsను మీరు ఎలా ఉపయోగిస్తున్నారు అని మీ అభిప్రాయం మాకు అందించి, పంచుకోమని కూడా మేము మిమ్మల్ని ఆహ్వానిస్తున్నాము, ఈ OERs మెరుగుపరచడం సహా మీరు మాతో పని చేయాలనుకుంటే మాకు సహాయపడడండి.

</p>
</div>
</div> 
  </div>
            </div>
            </div>
    <!-- <div class="container py-3">
      <div class="card ux">
        <div class="row ">
          <div class="col-md-3">
              <img src="https://picsum.photos/id/1/350/250" class="w-70 img-c">
            </div>
            <div class="col-md-8 px-3">
              <div class="card-block px-3">
                <h4 class="card-title">Lorem ipsum dolor sit amet</h4>
                <h4 class="card-title">What We are amet</h4>
                <p class="card-text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                <p class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <a href="#" class="btn btn-primary">Read More</a>
              </div>
            </div>
  
          </div>
        </div>
      </div> -->
 
  </section>
  
  
  <!-- <section class="mr-5 ">
    <div class="container "> -->
      <!-- <div class="card ux">
        <div class="row ">
          <div class="col-md-8 px-3">
              <div class="card-block px-3">
                <h4 class="card-title">Lorem ipsum dolor sit amet</h4>
                <h4 class="card-title">CLix OER amet</h4>
                <p class="card-text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                <p class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <a href="#" class="btn btn-primary">Read More</a>
              </div>
            </div>
          <div class="col-md-3">
              <img src="https://picsum.photos/id/1/350/250" class="w-70 img-cc">
            </div>
            
  
          </div>
        </div> -->
      </div>
    </div>
  </section>
</div>
</div>
