<style>
.img-repo-cc{

margin: 10px 20px;
width:300px;
height:250px;
}
@media only screen and (min-width:1440px){
.blog  {
margin-left : -5rem;
}

@media only screen and (max-width:400px){
.img-c {
margin-left: 10px;
}

@media only screen and (min-width:1100px){
.img-repo-cc {
margin:20px 170px !important;
}

.blog-c{
margin-left: 3rem;
}

}






@media only screen and (max-width:540px){

.img-repo-cc
 {
margin:10px 20px !important;
}
}
</style>








<div class="surrounding-color py-5">
<div class=" surrounding-color px-2">
<section class="">
    <div class="blog ml-5 ">
        <div class="card mb-3  mb-5  blog-c" style="max-width: 1200px;">
          <div class="row no-gutters">
            <div class="col-10  col-md-3  col-sm-10">
              <img src="https://picsum.photos/id/1/200/200" class="card-img img-fluid img-c mb-3" alt="...">
            </div>
            <div class="col-12 col-sm-12 col-md-8 col-md-8 col-sm-12 col-lg-8">
              <div class="card-body">
                <h5 class="card-title"> What we are </h5>
                <p class="card-text" style="text-align:justify;">   &nbsp; &nbsp; &nbsp; &nbsp; The Connected Learning Initiative (CLIx) is a technology-enabled initiative at scale for high school students. The initiative was seeded by Tata Trusts, Mumbai and is led by Tata Institute of Social Sciences, Mumbai and Massachusetts Institute of Technology, Cambridge, MA USA. CLIx offers a scalable and sustainable model of open education, to meet the educational needs of students and teachers. 
                <!--  &nbsp; &nbsp; &nbsp; &nbsp; --> CLIx incorporates thoughtful pedagogical design and leverages contemporary technology and online capabilities. ve created resources for students in the areas of Mathematics, Sciences, Communicative English and Digital Literacy, designed to be interactive, foster collaboration and integrate values and 21st-century skills. Since 2016 we have been offering these modules to students and teachers of government secondary schools in Chhattisgarh, Mizoram, Rajasthan and Telangana in their regional languages.
             <br/>  &nbsp; &nbsp; &nbsp; &nbsp; We also offer a Teacher Professional Development Post Graduate Certificate in Reflective Teaching with ICT for in-service school teachers. Through research and collaborations, CLIx seeks to nurture a vibrant ecosystem of partnerships and innovation to improve schooling for underserved communities.
<br/>   &nbsp; &nbsp; &nbsp; &nbsp; The initiative has won s prestigious 2017 King Hamad Bin Isa Al-Khalifa Prize for the Use of Information and Communication Technology (ICT) in the field of Education.
To know more about us and our work check out our website at <a href="https://clix.tiss.edu/">clix.tiss.edu </a>
  </p>           
           <!--       <button class="btn btn-primary butn"> Read more</button>
               --> 
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="blog-c">
            <div class="card mb-3    blog-cc" style="max-width: 1200px;">
              <div class="row no-gutters">
                <div class="col-12 col-md-8 col-sm-12">
                <div class="card-body">
                    <h5 class="card-title">CLIx OER</h5> 
                    <p class="card-text" style="font-size:14px; text-align:justify; overflow:auto; ">&nbsp; &nbsp; &nbsp; &nbsp; CLIx team in collaboration with various partners, teachers, subject experts and open education platforms, has created rich and engaging content for middle school students to learn subjects like Communicative English, Mathematics, Science and Digital Literacy. We are opening up the access to these resources to the world to use freely for educational purposes. All students, teachers and generally curious users are welcome to use, re-mix, improve and redistribute our content under the CC by licence under Creative Commons. 
                      <br/> &nbsp; &nbsp; &nbsp; &nbsp;  We at CLIx believe in collaboration and improving through feedback and reflection. Please reach out to us through our contact form to let us know if you would like to collaborate with us or drop quick feedback. </p>
                    

                  </div>
                </div>
              
                 
                   <div class="col-10  col-md-3  col-sm-10">
                  <img src="https://picsum.photos/id/1/200/200" class="card-img img-fluid img-repo-cc "  alt="...">
                </div>
                </div>
              </div>
            </div>
            </div>
    <!-- <div class="container py-3">
      <div class="card ux">
        <div class="row ">
          <div class="col-md-3">
              <img src="https://picsum.photos/id/1/350/250" class="w-70 img-c">
            </div>
            <div class="col-md-8 px-3">
              <div class="card-block px-3">
                <h4 class="card-title">Lorem ipsum dolor sit amet</h4>
                <h4 class="card-title">What We are amet</h4>

                <p class="card-text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                <p class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <a href="#" class="btn btn-primary">Read More</a>
              </div>
            </div>
  
          </div>
        </div>
      </div> -->
 
  </section>
  
  
  <!-- <section class="mr-5 ">
    <div class="container "> -->
      <!-- <div class="card ux">
        <div class="row ">
          <div class="col-md-8 px-3">
              <div class="card-block px-3">
                <h4 class="card-title">Lorem ipsum dolor sit amet</h4>
                <h4 class="card-title">CLix OER amet</h4>

                <p class="card-text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                <p class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <a href="#" class="btn btn-primary">Read More</a>
              </div>
            </div>
          <div class="col-md-3">
              <img src="https://picsum.photos/id/1/350/250" class="w-70 img-cc">
            </div>
            
  
          </div>
        </div> -->
      </div>
    </div>
  </section>
</div>
</div>
