<style>

.img-c-c {

margin: 10px 10px;
border-radius: 25px;
height:250px;
}
.img-repo-cc{

margin: 10px 20px;
width:300px;
height:250px;
}
@media only screen and (min-width:1440px){
.blog  {
margin-left : -5rem;
}

@media only screen and (max-width:400px){
.img-c {
margin-left: 10px;

}

@media only screen and (min-width:1100px){
.img-repo-cc {
margin:20px 170px !important;
}

.blog-c{
margin-left: 3rem;
}

}






@media only screen and (max-width:540px){

.img-repo-cc
 {
margin:10px 20px !important;
}
}
</style>








<div class="surrounding-color py-5">
<div class=" surrounding-color px-2">
<section class="">
    <div class="blog ml-5 ">
        <div class="card mb-3  mb-5  blog-c" style="max-width: 1400px;">
          <div class="row no-gutters">
            <div class="col-10  col-md-3  col-sm-10">
              <img src="/static/ndf/What we are 2.png " class="card-img img-fluid img-c-c mb-3 " alt="...">
            </div>
            <div class="col-12 col-sm-12 col-md-8 col-md-8 col-sm-12 col-lg-8">
              <div class="card-body">
                <h5 class="card-title">About CLIx
 </h5>
                <p class="card-text" style="text-align:justify;">   Connected Learning Initiative (CLIx) is a bold and innovative intervention, with global relevance for quality teaching & learning in the public education system of India. The overarching goal has been to demonstrate quality at scale through meaningful use of new media and digital technologies. CLIx offers students opportunities to work in a hands-on manner to construct knowledge in active ways, and enhances the prospects of professional development for teachers through the use of ICT. The initiative, conceptualised in 2015, is seeded by Tata Trusts, India and led by Tata Institute of Social Sciences (TISS), Mumbai, India and Massachusetts Institute of Technology (MIT), MA, USA. 
<br/>
                <!--  &nbsp; &nbsp; &nbsp; &nbsp; --> CLIx incorporates thoughtful pedagogical design and leverages contemporary technology and online capabilities. ve created resources for students in the areas of Mathematics, Sciences, Communicative English and Digital Literacy, designed to be interactive, foster collaboration and integrate values and 21st-century skills. We have been offering these modules to students and teachers of government secondary schools in Chhattisgarh, Mizoram, Rajasthan and Telangana in their regional languages.
             <br/>  
Through extensive collaborative efforts with multiple partners, since 2015, CLIx has been offering secondary school students technology-enabled STEM resources (10 modules), Digital literacy (5 modules), communicative English & life skills (4 modules) on an open source digital learning platform designed and primed to work for Indian schools.
Teacher Professional Development is available through professional communities of practice and the blended Post Graduate Certificate course in Reflective Teaching with ICT. All the learning resources have been/are being made as Open Educational Resources and designed to be interactive, foster collaboration and integrate values and 21st century skills and are aligned to the pedagogic vision of the National Curriculum Framework 2005.

<br/>    The initiative has won s prestigious 2017 King Hamad Bin Isa Al-Khalifa Prize for the Use of Information and Communication Technology (ICT) in the field of Education.
Through research and collaborations, CLIx seeks to nurture a vibrant ecosystem of partnerships and innovation to improve schooling for underserved communities.
<br>
To know more about us and our work check out our website at <a href="https://clix.tiss.edu/">clix.tiss.edu </a>
  </p>           
           <!--       <button class="btn btn-primary butn"> Read more</button>
               --> 
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="blog-c">
            <div class="card mb-3    blog-cc" style="max-width: 1400px;">
              <div class="row no-gutters">
                <div class="col-12 col-md-8 col-sm-12">
                <div class="card-body">
                    <h5 class="card-title">CLIx OER</h5> 
                    <p class="card-text" style="font-size:14px; text-align:justify; overflow:auto; "> 
Over the years, CLIx has developed a range of high quality educational resources for high school students and teachers. True to its vision, CLIx has converted these high quality assets into Open Educational Resources (OERs) and through this portal releasing them under open licenses so that anyone could reuse, re-create, modified and adapt these OERs to varied contexts. We aim, in the process, to be truly free -  where we define 'free'  as the spirit of freedom and independence to create, learn and grow!

<br/>

Currently, CLIxOERs comprise of more than 120 hours of content in the areas of Mathematics, Sciences, Communicative English and Digital Literacy, more than 40 digital interactives games and simulations and teacher support material - all available in English, Hindi and Telugu languages with both online and offline versions. Apart from the OER resources, the CLIxOER portal also provides insights into the design and development processes as well as the design based research that went into the creation of these educational resources. Therefore, the portal offers a range of resources for teachers, students, educators and policy makers.
<br/>
All these resources have been designed to be interactive, foster collaboration and integrate values and 21st century skills and are aligned to the pedagogic vision of the National Curriculum Framework 2005. We encourage teachers to innovate and come up with new strategies to contextualise these OERs and integrate in their everyday teaching-learning process.
                      <br/>  We at CLIx believe in collaboration and improving through feedback and reflection. Please reach out to us through our contact form to let us know if you would like to collaborate with us or drop quick feedback. </p>
          

                  </div>
                </div>
              
                 
                   <div class="col-10  col-md-3  col-sm-10">
                  <img src="/static/ndf/CLIxOER_without logo.png" class="card-img img-fluid img-repo-cc "  alt="...">
                </div>
                </div>
<div class="row mt-2" >



<div class="col-6 text-center">
<img src="/static/ndf/pillars.png" class="img-fluid col-6 mx-auto" width="70%">


            
     </div>

<div class="col-6 text-center ml-n5">
<img src="/static/ndf/dbr.png"  class="img-fluid col-6 0" style="margin-left: -5%;" width="80%" >
</div>
<div class="col-12 mt-2" >
<br>
<p class="" style="margin:10px;">
CLIx module content, technology tools and learning platform were created through a rigorous, iterative process of design based research. 

The design and development of CLIx modules have been guided by three pedagogical pillars of collaboration, learning from mistakes and authentic learning. These pillars have proved to be invaluable for designers, students and teachers who implement CLIx. 


We aspire to continue to develop, curate and add more resources in the near future. We would also invite you to give us feedback, share how are you using these OERs, help us to improve these OERs as well as express your if you desire to work with us. 

</p>
</div>
</div> 
  </div>
            </div>
            </div>
    <!-- <div class="container py-3">
      <div class="card ux">
        <div class="row ">
          <div class="col-md-3">
              <img src="https://picsum.photos/id/1/350/250" class="w-70 img-c">
            </div>
            <div class="col-md-8 px-3">
              <div class="card-block px-3">
                <h4 class="card-title">Lorem ipsum dolor sit amet</h4>
                <h4 class="card-title">What We are amet</h4>

                <p class="card-text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                <p class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <a href="#" class="btn btn-primary">Read More</a>
              </div>
            </div>
  
          </div>
        </div>
      </div> -->
 
  </section>
  
  
  <!-- <section class="mr-5 ">
    <div class="container "> -->
      <!-- <div class="card ux">
        <div class="row ">
          <div class="col-md-8 px-3">
              <div class="card-block px-3">
                <h4 class="card-title">Lorem ipsum dolor sit amet</h4>
                <h4 class="card-title">CLix OER amet</h4>

                <p class="card-text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                <p class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <a href="#" class="btn btn-primary">Read More</a>
              </div>
            </div>
          <div class="col-md-3">
              <img src="https://picsum.photos/id/1/350/250" class="w-70 img-cc">
            </div>
            
  
          </div>
        </div> -->
      </div>
    </div>
  </section>
</div>
</div>
