
{% load i18n %}


<style>
.img-c-c {
margin: 10px 10px;
border-radius: 25px;
height:250px;
}
.img-repo-cc{
margin: 10px 20px;
width:300px;
height:250px;
}
@media only screen and (min-width:1440px){
.blog  {
margin-left : -5rem;
}
@media only screen and (max-width:400px){
.img-c {
margin-left: 10px;
}
@media only screen and (min-width:1100px){
.img-repo-cc {
margin:20px 170px !important;
}
.blog-c{
margin-left: 3rem;
}
}
@media only screen and (max-width:540px){
.img-repo-cc
 {
margin:10px 20px !important;
}
}
</style>
<div class="surrounding-color py-5">
<div class=" surrounding-color px-2">
<section class="">
    <div class="blog ml-5 ">
        <div class="card mb-3  mb-5  blog-c" style="max-width: 1400px;">
          <div class="row no-gutters">
            <div class="col-10  col-md-3  col-sm-10">
              <img src="/static/ndf/What we are 2.png " class="card-img img-fluid img-c-c mb-3 " alt="...">
            </div>
            <div class="col-12 col-sm-12 col-md-8 col-md-8 col-sm-12 col-lg-8">
              <div class="card-body">
                <h5 class="card-title"> {% trans    'About' %} CLIx
 </h5>
                <p class="card-text" style="text-align:justify;">  संबद्ध अधिगम पहल (क्लिक्स) भारत में सार्वजनिक शिक्षा प्रणाली में गुणवत्तापूर्ण सिखाने और सीखने के लिए वैश्विक प्रासंगिकता के साथ एक सुस्पष्ट और नवाचारी हस्तक्षेप है। यह अति महत्वपूर्ण लक्ष्य नए मीडिया और डिजिटल तकनीकों के माध्यम से पैमाने पर गुणवत्ता के प्रदर्शन के लिए है। क्लिक्स विद्यार्थियों को सक्रिय तरीकों से ज्ञान के निर्माण के लिए हाथ से करके सीखने हेतु काम करने के अवसर देता है और आईसीटी के उपयोग द्वारा शिक्षकों के व्यावसायिक विकास की संभावनाओं को बढ़ावा देता है। वर्ष 2015 में संकल्पित इस पहल का बीजारोपण टाटा ट्रस्ट, भारत द्वारा हुआ और इसे टाटा इंस्टिट्यूट ऑफ सोशल साइंसस (टीआईएसएस/टिस), मुंबई, भारत और मैसेच्यूसेट्ट्स इंस्टिटयूट ऑफ टेक्नोलॉजी (एमआईटी), एमए, यूएसए के नेतृत्व में आगे बढ़ाया गया। 

<br/>
                <!--  &nbsp; &nbsp; &nbsp; &nbsp; --> क्लिक्स विचारपूर्ण शिक्षाशास्त्रीय डिज़ाइन को शामिल करता है और आधुनिक प्रौध्योगिकी तथा ऑनलाइन क्षमताओं पर बल देता है। हमने विद्यार्थियों के लिए गणित, विज्ञान, कॉम्यूनिकेटिव इंगलिश और डिजिटल साक्षारता में संसाधनों का निर्माण किया, पारस्परिक रूप से क्रियात्मक होने, सहयोग को बढ़ावा देने और मूल्यों तथा 21वीं शताब्दी के कौशलों को एकीकृत करने हेतु उन्हें डिज़ाइन किया गया। हम इन मॉड्यूलों को छत्तीसगढ़, मिज़ोरम, राजस्थान और तेलंगाना में सरकारी माध्यमिक विद्यालयों के विद्यार्थियों और शिक्षकों को उनकी अपनी क्षेत्रीय भाषाओं में भेंट कर रहे हैं। 

             <br/>  
             वर्ष 2015 से बहुत से भागीदारों के साथ व्यापक सहयोगात्मक प्रयासों द्वारा क्लिक्स माध्यमिक विद्यालयों के विद्यार्थियों को प्रौध्योगिकी-सक्षम स्टेम (STEM) संसाधन (10 मॉड्यूल), डिजिटल साक्षरता (5 मॉड्यूल), कॉम्यूनिकेटिव इंगलिश और जीवन कौशल (4 मॉड्यूल) भारतीय विद्यालयों के लिए काम करने हेतु डिज़ाइन करके और उत्कृष्ट बनाकर एक मुक्त संसाधन डिजिटल मंच पर दे रहा है। शिक्षक व्यावसायिक विकास व्यावसायिक अभ्यास समुदायों (CoP) और आईसीटी के साथ समिश्रित विमर्शी शिक्षण में स्नातकोत्तर प्रमाण-पत्र पाठ्यक्रम के माध्यम से उपलब्ध है। सभी अधिगम संसाधनों को मुक्त शैक्षिक संसाधनों (ओईआर) के रूप में बनाया गया/ बनाया जा रहा है और पारस्परिक-क्रियात्मक होने, सहयोग को बढ़ावा देने, और मूल्यों तथा 21वीं शताब्दी के कौशलों को एकीकृत करने की दृष्टि से डिज़ाइन किया गया है और राष्ट्रीय पाठ्यचर्या की रूपरेखा 2005 के शिक्षाशात्रीय दृष्टिकोण के सुसंगत है। 

<br/>   यह पहल शिक्षा के क्षेत्र में सूचना और संचार प्रौध्योगिकी (आईसीटी) के उपयोग के लिए 2017 का प्रतिष्ठित किंग हमाद बिन ईसा अल-खलीफा पुरस्कार जीत चुकी है। अनुसंधान और सहयोग के माध्यम से, क्लिक्स वंचित समुदायों के लिए विद्यालयी शिक्षा को सुधारने के लिए साझेदारी और नवाचार के  एक जोशीले पारितंत्र को पोषित करने का प्रयास करता है। 

<br>

<!--
To know more about us and our work check out our website at <a href="https://clix.tiss.edu/">clix.tiss.edu </a> 
-->
हमारे और हमारे काम के बारे में अधिक जानकारी के लिए <a href="https://clix.tiss.edu/" target="_blank" >  पर हमारी वेबसाइट देखें।  </a>
  </p>           
           <!--       <button class="btn btn-primary butn"> Read more</button>
               --> 
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="blog-c">
            <div class="card mb-3    blog-cc" style="max-width: 1400px;">
              <div class="row no-gutters">
                <div class="col-12 col-md-8 col-sm-12">
                <div class="card-body">
                    <h5 class="card-title">क्लिक्स ओईआर 
</h5> 
                    <p class="card-text" style="font-size:14px; text-align:justify; overflow:auto; "> 
                        पिछले कुछ वर्षों में, क्लिक्क्ष ने हाई स्कूल विद्यार्थियों और शिक्षकों के लिए उच्च गुणवत्ता वाले शैक्षिक संसाधनों की एक रेंज विकसित की है। अपनी दृष्टिक्षेत्र के अनुरूप, क्लिक्स ने इन उच्च गुणवत्ता वाली परिसंपतियों को मुक्त शैक्षिक संसाधनों (ओईआर) में परिवर्तित किया है और इस पोर्टल के माध्यम से उन्हें मुक्त लाइसेंसों के अंतर्गत जारी किया है ताकि कोई भी विविध संदर्भों के लिए इन ओईआर का पुन: उपयोग, पुन: निर्माण, रूपान्तरण और अनुकूलन कर सके। इस प्रक्रिया में, हमारा लक्ष्य वस्तुत: मुक्त होना है – जहाँ हम 'मुक्त' को स्वतन्त्रता की  मनोवृत्ति और निर्माण, सीखने और संवृद्धि के रूप में परिभाषित करते हैं ! 

<br/>
वर्तमान में, क्लिक्सओईआर  में गणित, विज्ञान, कॉम्यूनिकेटिव इंगलिश और डिजिटल साक्षारता के क्षेत्र में 120 घंटों से अधिक की विषयवस्तु, 40 से अधिक डिजिटल पारस्परिक-क्रियात्मक खेल तथा अनुरूपण और शिक्षक सहायक सामग्री – सभी अँग्रेज़ी, हिन्दी और तेलुगू भाषाओं में ऑनलाइन तथा ऑफलाइन रूपांतरों में उपलब्ध है। ओईआर संसाधनों के अलावा, क्लिक्सओईआर पोर्टल डिज़ाइन और विकास प्रक्रियाओं के साथ साथ डिज़ाइन आधारित अनुसंधान में गहनदृष्टियाँ भी उपलब्ध करता है, जिससे इन शैक्षिक संसाधनों का निर्माण हुआ। अत:, यह पोर्टल शिक्षकों, विद्यार्थियों, प्रशिक्षकों और नीति निर्माताओं के लिए संसाधनों की एक रेंज प्रस्तुत करता है। 

<br/>
इन सभी संसाधनों को पारस्परिक-क्रियात्मक होने, सहयोग को बढ़ावा देने, और मूल्यों तथा 21वीं शताब्दी के कौशलों को एकीकृत करने की दृष्टि से डिज़ाइन किया गया है और राष्ट्रीय पाठ्यचर्या की रूपरेखा 2005 के शिक्षाशात्रीय दृष्टिकोण के सुसंगत है। हम शिक्षकों को इन ओईआर को संदर्भित करने के लिए नवाचार करने और नई कार्यनीतियाँ सुझाने हेतु प्रोत्साहित करते हैं। 

                      <br/>  क्लिक्स में हम सहयोग करने और फीडबैक तथा विमर्श के माध्यम से सुधार करने में विश्वास रखता है। कृपया हमारे संपर्क सूत्र के माध्यम से हम तक पहुँचें, यह बताने के लिए कि क्या आप हमारे साथ सहयोग करना या शीघ्र फीडबैक देना चाहेंगे। 
<!-- eedback. -->
                       </p>
          
                  </div>
                </div>
              
                 
                   <div class="col-10  col-md-3  col-sm-10">
                  <img src="/static/ndf/CLIxOER_without logo.png" class="card-img img-fluid img-repo-cc "  alt="...">
                </div>
                </div>
<div class="row mt-2" >
<div class="col-6 text-center">
<img src="/static/ndf/pillars.png" class="img-fluid col-6 mx-auto" width="70%">
            
     </div>
<div class="col-6 text-center ml-n5">
<img src="/static/ndf/dbr.png"  class="img-fluid col-6 0" style="margin-left: -5%;" width="80%" >
</div>
<div class="col-12 mt-2" >
<br>
<p class="" style="margin:10px;">
    क्लिक्स मॉड्यूल की विषयवस्तु, तकनीकी टूल्स और सीखने के मंच का निर्माण, डिज़ाइन आधारित अनुसंधान की कठोर, दोहराई जा सकने वाली प्रक्रिया द्वारा किया गया है। क्लिक्स मॉड्यूलों का डिज़ाइन और विकास, सहयोग, गलतियों से सीखना और प्रामाणिक अधिगम के तीन शिक्षास्त्रीय स्तंभों द्वारा मार्गदर्शित रहा है। ये स्तम्भ क्लिक्स लागू करने वाले डिजाइनरों, विद्यार्थियों और शिक्षकों के लिए अमूल्य सिद्ध हुए हैं। हम निकट भविष्य में विकास करने, सुधार करने तथा अधिक संसाधनों को जोड़ना जारी रखने की अभिलाषा करते हैं। हम आपको आमंत्रित करते हैं कि आप हमें फीडबैक दें, साझा करें कि आप किस प्रकार इन ओईआर को उपयोग में ले रहे हैं, इन ओईआर को सुधारने में हमारी मदद करें, साथ ही यह भी बताएँ कि क्या आप हमारे साथ काम करना की इच्छा रखते हैं। 

</p>
</div>
</div> 
  </div>
            </div>
            </div>
    <!-- <div class="container py-3">
      <div class="card ux">
        <div class="row ">
          <div class="col-md-3">
              <img src="https://picsum.photos/id/1/350/250" class="w-70 img-c">
            </div>
            <div class="col-md-8 px-3">
              <div class="card-block px-3">
                <h4 class="card-title">Lorem ipsum dolor sit amet</h4>
                <h4 class="card-title">What We are amet</h4>
                <p class="card-text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                <p class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <a href="#" class="btn btn-primary">Read More</a>
              </div>
            </div>
  
          </div>
        </div>
      </div> -->
 
  </section>
  
  
  <!-- <section class="mr-5 ">
    <div class="container "> -->
      <!-- <div class="card ux">
        <div class="row ">
          <div class="col-md-8 px-3">
              <div class="card-block px-3">
                <h4 class="card-title">Lorem ipsum dolor sit amet</h4>
                <h4 class="card-title">CLix OER amet</h4>
                <p class="card-text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                <p class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <a href="#" class="btn btn-primary">Read More</a>
              </div>
            </div>
          <div class="col-md-3">
              <img src="https://picsum.photos/id/1/350/250" class="w-70 img-cc">
            </div>
            
  
          </div>
        </div> -->
      </div>
    </div>
  </section>
</div>
</div>










