<style>
 li{
    text-align: justify;
    }
    
    </style>
    <div class="container" style="margin-bottom: 10px;">
            <div class="row">
                 <div class="col-5 text-center mx-auto">
                    <h1>
     <!--  Our -->
     Team  Details </h1>
                 </div>
    {% if first_arg == 'English' %}         
        <div class="col-10 text-center mx-auto">
                  <!--  <p style="max-width: 450px; text-center ">
    The English Team at TISS designs and creates the CLIx English course for students and the English Teacher Professional Development (TPD) courses for teachers</p> -->
                </div>
    {% endif %}
            </div>
            <div class="row">
              <div class="col-11">

                <div class="carousel-team-card" data-flickity='{ "groupCells": 3, "wrapAround": true    }'>
                             



          <div class="carousel-team-card-cell our-team ">
                <div class="carousel-card-team">
                  <div class="card-team-img">
                    <img src="/static/ndf/images/noun_team_144387.png" alt="" />
                  </div>
                  <div class="card-team-name">
                    <h5> Initiative  </h5>
                    <span>Position</span>
                  </div>
                  <div class="card-team-content bio">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et nisi id arcu bibendum efficitur. Pellentesque maximus ac libero non iaculis.</p>
                <!--    <ul class="social" >
                        <li><a href="#" class="fab fa-facebook"></a></li>
                        <li><a href="#" class="fab fa-twitter"></a></li>
                                               <li><a href="#" class="fab fa-linkedin"></a>                    </ul> -->
                  </div>
                </div>
              </div>
              <div class="carousel-team-card-cell our-team">
                <div class="carousel-card-team">
                  <div class="card-team-img">
                    <img src="/static/ndf/images/noun_team_144387.png" alt="" />
                  </div>
                  <div class="card-team-name  ">
                      <h3 class="title"> Intiative </h3>
                      <span class="post"> OER</span>
                  </div>
                  <div class="card-team-content bio">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et nisi id arcu bibendum efficitur. Pellentesque maximus ac libero non iaculis.</p>
                <!--    <ul class="social">
                        <li><a href="#" class="fab fa-facebook"></a></li>
                        <li><a href="#" class="fab fa-twitter"></a></li>
                        <li><a href="#" class="fab fa-google-plus"></a></li>
                        <li><a href="#" class="fab fa-linkedin"></a></li>
                    </ul>  -->
                  </div>
                </div>
              </div>
              <div class="carousel-team-card-cell our-team">
                <div class="carousel-card-team">
                  <div class="card-team-img">
                    <img src="/static/ndf/images/noun_team_144387.png" alt="" />
                  </div>
                  <div class="card-team-name">
                      <h3 class="title"> Initiative </h3>
                      <span class="post">Teacher </span>
                  </div>
                  <div class="card-team-content bio">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et nisi id arcu bibendum efficitur. Pellentesque maximus ac libero non iaculis.</p>
                  <!--  <ul class="social">
                        <li><a href="#" class="fab fa-facebook"></a></li>
                        <li><a href="#" class="fab fa-twitter"></a></li>
                        <li><a href="#" class="fab fa-google-plus"></a></li>
                        <li><a href="#" class="fab fa-linkedin"></a></li>
                    </ul> -->
                  </div>
                </div>
              </div>
              <div class="carousel-team-card-cell our-team">
                <div class="carousel-card-team">
                  <div class="card-team-img">
                    <img src="/static/ndf/images/noun_team_144387.png" alt="" />
                  </div>
                  <div class="card-team-name">
                    <h3> Initiative  </h3>
                    <span>OER </span>
                  </div>
                  <div class="card-team-content bio">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et nisi id arcu bibendum efficitur. Pellentesque maximus ac libero non iaculis.</p>
                  <!--  <ul class="social">
                        <li><a href="#" class="fab fa-facebook"></a></li>
                        <li><a href="#" class="fab fa-twitter"></a></li>
                        <li><a href="#" class="fab fa-google-plus"></a></li>
                        <li><a href="#" class="fab fa-linkedin"></a></li>
                    </ul>
-->
                  </div>
                </div>
              </div>
              <div class="carousel-team-card-cell our-team">
                <div class="carousel-card-team">
                  <div class="card-team-img">
                    <img src="/static/ndf/images/noun_team_144387.png" alt="" />
                  </div>
                  <div class="card-team-name">
                    <h3>Initiative  </h3>
                    <span>Fu</span>
                  </div>
                  <div class="card-team-content bio">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et nisi id arcu bibendum efficitur. Pellentesque maximus ac libero non iaculis.</p>
                  </div>
                </div> -->

               


                  </div>
                </div>
              </div>
            </div>
            </div>










 <link rel="stylesheet" href="https://npmcdn.com/flickity@2/dist/flickity.css">
        <script src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>


