<style>
#iconc  h5{
text-align:justify;
}
#iconc .col-sm{
text-align: center;
}
</style>
<h5>   हमारे सहयोगी 
</h5>
<p class="px-5"  style="text-align:justify;">
    पिछले कुछ वर्षों में क्लिक्स ने एक बहु-राज्य, बहु-साथी पहल तैयार की और विभिन्न पाठ्यचर्यागत डिजाइन में विशेषज्ञता, शैक्षिक संसाधन निर्माण और शैक्षिक प्रौध्योगिकी के विकास को बल प्रदान करने के लिए सरकार द्वारा संचालित हाई स्कूलों में काम करने के लिए राजस्थान, मिज़ोरम, छत्तीसगढ़ और तेलंगाना की सरकारों के साथ सहयोग करने के लिए हमने एकलव्य (भोपाल), होमी भाभा विज्ञान शिक्षा केंद्र (टीआईएफआर, मुंबई), इंटर-युनिवर्सिटी सेंटर फॉर ऐस्ट्रोनॉमी (पुणे), नेशनल इन्स्टीच्यूट ऑफ ऐडवांस्ड स्टडीज़ (बेंगलुरु) और टाटा क्लासएज (Tata ClassEdge, मुंबई) के साथ भागीदारी की।  हमने सेंटर फॉर एजुकेशन रिसर्च एण्ड प्रैक्टिस (जयपुर) और मिज़ोरम युनिवर्सिटी (ऐजवाल) के साथ क्रमश: राजस्थान और मिज़ोरम में लागू करने वाले साथी के रूप में सहयोग किया।  


</p>
<div class="container" style="margin-bottom:4rem;" id="iconc">
  <div class="row" style="text-align:justify;">
    <div class="col-sm " >
      <img class="icon-img mx-auto" src="/static/ndf/Chhatisgarh seal PS.png" width="160px" height="100px" alt="Govt. Of Chhattisgarh">
<h6 class="text-center">Govt. Of Chhattisgarh </h6>
    </div>
    <div class="col-sm">
      <img class="icon-img mx-auto" src="/static/ndf/Mizoram seal.png "  width="120px" height="100px" alt="rajastan government">
<h6 class="text-center">Govt. of Mizoram </h6>
    </div>
    <div class="col-sm">
      <img class="icon-img mx-auto" src="/static/ndf/rajasthan government logo.png"  width="120px" height="100px" alt="rajastan government">
<h6 class="text-center">Govt. of Rajasthan </h6>
    </div>
<div class="col-sm">
        <img class="icon-img mx-auto" src="/static/ndf/Telangana_State_Emblem_White_2000x2000.png" width="100px" height="100px" alt="Telegana">
<h6 class="text-center">Govt. of Telangana </h6>
    </div>
  </div>




<div class="row mt-5" style="text-align:justify; ">
    <div class="col-sm">
      <img class="icon-img mx-auto" src="/static/ndf/cerp-removebg-preview.png"  width="150px" height="120px"  alt="Govt. Of Chhattisgarh">
<h6 class="text-center">Centre for Education Research & Practice - Jaipur </h6>
 
    </div>
    <div class="col-sm">
      <img class="icon-img mx-auto" src="/static/ndf/mzu logo.jpg"  width="100px" height="100px" alt="rajastan government">
<h6 class="text-center">Department of Education, Mizoram University - Aizawl </h6>
    </div>
    <div class="col-sm">
      <img class="icon-img text-center" src="/static/ndf/eklavya-1-removebg-preview.png"  width="150px" height="100px" alt="rajastan government">
<h6 class="text-center">Eklavya - Bhopal</h6>
    </div>
<div class="col-sm">
        <img class="icon-img mx-auto" src="/static/ndf/tifr-1__1_-removebg-preview.png" width="150px" height="100px" alt="Telegana\
">
<h6 class="text-center">Homi Bhabha Centre for Science Education, TIFR - Mumbai </h6>
    </div>
  </div>








<div class="row mt-5" style="text-align:justify;">
    <div class="col-sm">
      <img class="icon-img text-center" src="/static/ndf/NIAS_1_0_0.png" width="100px"  alt="Govt. Of Chhattisgarh">
<h6 class="text-center">National Institute of Advanced Studies - Bengaluru</h6>
    </div>
    <div class="col-sm">
      <img class="icon-img text-center " src="/static/ndf/SCERT.png"  width="120px" height="70px" alt="rajastan government">
<h6 class="text-center">State Council of Educational Research and Training (SCERT) of Telangana - Hyderabad</h6>
    </div>
    <div class="col-sm">
      <img class="icon-img text-center" src="/static/ndf/partner_tata_trusts-1.png"  width="100px" height="70px" alt="rajastan government">
<h6 class="text-center">Tata Class Edge - Mumbai</h6>
    </div>
<div class="col-sm">
        <img class="icon-img mx-auto" src="/static/ndf/iucaa logo svg.png" width="100px" height="70px" alt="Telegana\
">
<h6 class="text-center">Inter-University Centre for Astronomy and Astrophysics - Pune </h6>
    </div>
  </div>

</div>
