


<style>
#iconc  h5{
text-align:justify;

}
#iconc .col-sm{
text-align: center;
}
</style>
<p class="px-5"  style="text-align:justify;">
Over the years CLIx evolved as a multi-state, multi-partner initiative and collaborated with the governments of Rajasthan, Mizoram, Chhattisgarh and Telangana to work in government-run high schools to leverage expertise in different curriculum design, creation of educational resources and educational technology development we formed partnerships with Eklavya (Bhopal), Homi Bhabha Centre for Science Education, (TIFR, Mumbai), Inter-University Centre for Astronomy and Astrophysics (Pune), National Institute of Advanced Studies (Bengaluru) and Tata ClassEdge (Mumbai). 
We also collaborated with Centre for Education Research and Practice (Jaipur), and Mizoram University (Aizawl) as implementation partners in Rajasthan and Mizoram respectively. 

</p>
<div class="container" style="margin-bottom:4rem;" id="iconc">
  <div class="row" style="text-align:justify;">
    <div class="col-sm " >
      <img class="icon-img mx-auto" src="/static/ndf/Chhatisgarh seal PS.png" width="160px" height="100px" alt="Govt. Of Chhattisgarh">
<h6 class="text-center">Govt. Of Chhattisgarh </h6>
    </div>
    <div class="col-sm">
      <img class="icon-img mx-auto" src="/static/ndf/Mizoram seal.png "  width="120px" height="100px" alt="rajastan government">
<h6 class="text-center">Govt. of Mizoram </h6>
    </div>
    <div class="col-sm">
      <img class="icon-img mx-auto" src="/static/ndf/rajasthan government logo.png"  width="120px" height="100px" alt="rajastan government">
<h6 class="text-center">Govt. of Rajasthan </h6>
    </div>
<div class="col-sm">
        <img class="icon-img mx-auto" src="/static/ndf/Telangana_State_Emblem_White_2000x2000.png" width="100px" height="100px" alt="Telegana">
<h6 class="text-center">Govt. of Telangana </h6>
    </div>
  </div>




<div class="row mt-5" style="text-align:justify; ">
    <div class="col-sm">
      <img class="icon-img mx-auto" src="/static/ndf/cerp-removebg-preview.png"  width="150px" height="120px"  alt="Govt. Of Chhattisgarh">
<h6 class="text-center">Centre for Education Research & Practice - Jaipur </h6>
 
    </div>
    <div class="col-sm">
      <img class="icon-img mx-auto" src="/static/ndf/mzu logo.jpg"  width="100px" height="100px" alt="rajastan government">
<h6 class="text-center">Department of Education, Mizoram University - Aizawl </h6>
    </div>
    <div class="col-sm">
      <img class="icon-img text-center" src="/static/ndf/eklavya-1-removebg-preview.png"  width="150px" height="100px" alt="rajastan government">
<h6 class="text-center">Eklavya - Bhopal</h6>
    </div>
<div class="col-sm">
        <img class="icon-img mx-auto" src="/static/ndf/tifr-1__1_-removebg-preview.png" width="150px" height="100px" alt="Telegana\
">
<h6 class="text-center">Homi Bhabha Centre for Science Education, TIFR - Mumbai </h6>
    </div>
  </div>








<div class="row mt-5" style="text-align:justify;">
    <div class="col-sm">
      <img class="icon-img text-center" src="/static/ndf/NIAS_1_0_0.png" width="100px"  alt="Govt. Of Chhattisgarh">
<h6 class="text-center">National Institute of Advanced Studies - Bengaluru</h6>
    </div>
    <div class="col-sm">
      <img class="icon-img text-center " src="/static/ndf/SCERT.png"  width="120px" height="70px" alt="rajastan government">
<h6 class="text-center">State Council of Educational Research and Training (SCERT) of Telangana - Hyderabad</h6>
    </div>
    <div class="col-sm">
      <img class="icon-img text-center" src="/static/ndf/partner_tata_trusts-1.png"  width="100px" height="70px" alt="rajastan government">
<h6 class="text-center">Tata Class Edge - Mumbai</h6>
    </div>
<div class="col-sm">
        <img class="icon-img mx-auto" src="/static/ndf/iucaa logo svg.png" width="100px" height="70px" alt="Telegana\
">
<h6 class="text-center">Inter-University Centre for Astronomy and Astrophysics - Pune </h6>
    </div>
  </div>

</div>
