<style>
#iconc  h5{
text-align:justify;

}
</style>
<div class="container" style="margin-bottom:4rem;" id="iconc">
        <div class="row" style="text-align:justify;">
          <div class="col-sm">
               <!-- <div class="item">
                        <div class="text-center" style="max-width: 18rem;">
<div class="card-header icon-header font-weight-bold"> 1.Research</div> 
<img class="icon-img mx-auto" src="/static/ndf/Chhatisgarh seal PS.png" alt="Govt. Of Chhattisgarh"> -->
<h5 class="text-center">Govt. Of Chhattisgarh </h5>
<!--
<div class="card-body text-dark">
<p class="card-text">A baseline study was conducted to assess the gaps in a language classroom and the initial language levels of learners. 
 </p>
</div>
</div>
                     <a href="sd">Read More</a>
                 </div>  -->
        </div>
          <div class="col-sm">
<!--                <div class="item">
                        <div class="text-center" style="max-width: 18rem;">
<div class="card-header icon-header font-weight-bold"> 1.Research</div> 
<img class="icon-img mx-auto" src="/static/ndf/Mizoram seal.png" width="200px" height="200px" alt="Mizoram">
-->
<h5 class="text-center">Govt. of Mizoram </h5>
<!-- <div class="card-body text-dark">
<p class="card-text">A baseline study was conducted to assess the gaps in a language classroom and the initial language levels of learners. 
 </p>
</div>
</div>
                     <a href="sd">Read More</a>
                 </div>  -->
        </div>
          <div class="col-sm">

<!--
                <div class="item">
                        <div class="text-center" style="max-width: 18rem;">
<div class="card-header icon-header font-weight-bold"> 1.Research</div> 
<img class="icon-img mx-auto" src="/static/ndf/rajasthan government logo.png"  width="200px" height="200px" alt="rajastan government">
-->
<h5 class="text-center">Govt. of Rajastan </h5>
<!--
<div class="card-body text-dark">
<p class="card-text">A baseline study was conducted to assess the gaps in a language classroom and the initial language levels of learners. 
 </p>
</div>
</div>
                     <a href="sd">Read More</a>
                 </div>   -->       </div>
                 <div class="col-sm">
<!--
                        <div class="item">
                                <div class="text-center" style="max-width: 18rem;"> 
        <div class="card-header icon-header font-weight-bold"> 1.Research</div> 
        <img class="icon-img mx-auto" src="/static/ndf/Telangana_State_Emblem_White_2000x2000.png" width="200px" height="200px" alt="Telegana"> -->
       
<h5 class="text-center">Govt. of Telangana </h5>
<!--
 
     <div class="card-body text-dark">
        <p class="card-text">A baseline study was conducted to assess the gaps in a language classroom and the initial language levels of learners. 
         </p>
        </div>
        </div>
                             <a href="sd">Read More</a>
                         </div>          </div> -->
                          
        </div>
        <div class="row mt-4">
                <div class="col-sm">
<!--                      <div class="item">
                              <div class="text-center" style="max-width: 18rem;">
      <div class="card-header icon-header font-weight-bold"> 1.Research</div> 
      <img class="icon-img mx-auto" src="/static/ndf/SCERT.png"  height="200px" alt="SCERT logo">
-->
<h5 class="text-center" >Centre for Education Research & Practice - Jaipur </h5>
      <!--
      <div class="card-body text-dark">
      <p class="card-text">A baseline study was conducted to assess the gaps in a language classroom and the initial language levels of learners. 
       </p>
      </div>
      </div>
                           <a href="sd">Read More</a>
                       </div>   -->       </div>
                <div class="col-sm">
          <!--            <div class="item">
                              <div class="text-center" style="max-width: 18rem;"> 
      <div class="card-header icon-header font-weight-bold"> 1.Research</div> 

      <img class="icon-img mx-auto" src="/static/ndf/cerp-removebg-preview.png" width="200px" height="200px">
-->
<h5 class="text-center">Department of Education, Mizoram University </h5>
<!--      
      <div class="card-body text-dark">
      <p class="card-text">A baseline study was conducted to assess the gaps in a language classroom and the initial language levels of learners. 
       </p>
      </div>
      </div>
                           <a href="sd">Read More</a>
                       </div>         -->
 </div>
                <div class="col-sm">
                 <!--     <div class="item">
                              <div class="text-center" style="max-width: 18rem;">
      <div class="card-header icon-header font-weight-bold"> 1.Research</div> 
      <img class="icon-img mx-auto" src="/static/ndf/eklavya-1-removebg-preview.png" width="200px" height="200px">
-->
<h5 class="text-center"> Eklavya  </h5>
      <!--
      <div class="card-body text-dark">
      <p class="card-text">A baseline study was conducted to assess the gaps in a language classroom and the initial language levels of learners. 
       </p>
      </div>
      </div>
                           <a href="sd">Read More</a>
                       </div> -->         </div>
                       <div class="col-sm">
                         <!--     <div class="item">
                                      <div class="text-center" style="max-width: 18rem;">
              <div class="card-header icon-header font-weight-bold"> 1.Research</div> 
              <img class="icon-img mx-auto" src="/static/ndf/tifr-1__1_-removebg-preview.png" alt="tifr logo u">
--> 
<h5 class="text-center">Homi Bhabha Centre for Science Education, TIFR </h5>
              <!--
              <div class="card-body text-dark">
              <p class="card-text">A baseline study was conducted to assess the gaps in a language classroom and the initial language levels of learners. 
               </p>
              </div>
              </div>
                                   <a href="sd">Read More</a>
                               </div> -->
         </div>
                                 
              </div>


<div class="row mt-4">

<div class="col-sm">
<h5 class="text-center">National Institute of Advanced Studies </h5>
</div>
<div class="col-sm">
<h5 class="text-center">State Council of Educational Research and Training (SCERT) of Telangana -Hyderabad  </h5>
</div>
<div class="col-sm">
<h5 class="text-center">Tata Class Edge - Mumbai  </h5>
</div>

<div class="col-sm">
<h5 class="text-center"> Inter-University Centre for Astronomy and Astrophysics - Pune</h5>
</div>

      </div>

<!--
<div class="row mt-4">

<div class="col-sm">
<h5 class="text-center"> Inter-University Centre for Astronomy and Astrophysics - Pune</h5>
</div>
</div>

-->








