<!--<div class="container">
        <div class="row text-center">
          <div class="col-sm  col-md">
                <div class="item">
                        <div class="text-center" style="max-width: 18rem;">
<div class="card-header icon-header font-weight-bold"> 1.Research</div>
<img class="icon-img mx-auto" src="/static/ndf/noun_Search_192681.png">

<div class="card-body text-dark">
<p class="card-text">A baseline study was conducted to assess the gaps in a language classroom and the initial language levels of learners. 
 </p>
</div>
</div>
                     <a href="sd">Read More</a>
                 </div>          </div>
          <div class="col-sm col-md">
                <div class="item">
                        <div class="text-center" style="max-width: 18rem;">
<div class="card-header icon-header font-weight-bold"> 1.Research</div>
<img class="icon-img mx-auto" src="/static/ndf/noun_schedule_694983.png">

<div class="card-body text-dark">
<p class="card-text">A baseline study was conducted to assess the gaps in a language classroom and the initial language levels of learners. 
 </p>
</div>
</div>
                     <a href="sd">Read More</a>
                 </div>          </div>
          <div class="col-sm col-md">
                <div class="item">
                        <div class="text-center" style="max-width: 18rem;">
<div class="card-header icon-header font-weight-bold"> 1.Research</div>
<img class="icon-img mx-auto" src="/static/ndf/noun_schedule_694983.png">

<div class="card-body text-dark">
<p class="card-text">A baseline study was conducted to assess the gaps in a language classroom and the initial language levels of learners. 
 </p>
</div>
</div>
                     <a href="sd">Read More</a>
                 </div>          </div>
<!--                 <div class="col-sm">
                      <div class="item">
                                <div class="text-center" style="max-width: 18rem;">
        <div class="card-header icon-header font-weight-bold"> 1.Research</div>
        <img class="icon-img mx-auto" src="../static/noun_Search_192681.png">
        
        <div class="card-body text-dark">
        <p class="card-text">A baseline study was conducted to assess the gaps in a language classroom and the initial language levels of learners. 
         </p>
        </div>
        </div>
                             <a href="sd">Read More</a>
                         </div>          </div>
                           <div class="col-sm">
                <div class="item">
                        <div class="text-center" style="max-width: 18rem;">
<div class="card-header icon-header font-weight-bold"> 1.Research</div>
<img class="icon-img mx-auto" src="../static/noun_Search_192681.png">

<div class="card-body text-dark">
<p class="card-text">A baseline study was conducted to assess the gaps in a language classroom and the initial language levels of learners. 
 </p>
</div>
</div>
                     <a href="sd">Read More</a>
                 </div>          </div>
-->
    <!--    </div>
        <div class="row  text-center py-5">
                <div class="col-sm">
                      <div class="item">
                              <div class="text-center" style="max-width: 18rem;">
      <div class="card-header icon-header font-weight-bold"> 1.Research</div>
      <img class="icon-img mx-auto" src="/static/ndf/noun_schedule_694983.png">
      
      <div class="card-body text-dark">
      <p class="card-text">A baseline study was conducted to assess the gaps in a language classroom and the initial language levels of learners. 
       </p>
      </div>
      </div>
                           <a href="sd">Read More</a>
                       </div>          </div>
                <div class="col-sm">
                      <div class="item">
                              <div class="text-center" style="max-width: 18rem;">
      <div class="card-header icon-header font-weight-bold"> 1.Research</div>
      <img class="icon-img mx-auto" src="/static/ndf/noun_schedule_694983.png">
      
      <div class="card-body text-dark">
      <p class="card-text">A baseline study was conducted to assess the gaps in a language classroom and the initial language levels of learners. 
       </p>
      </div>
      </div>
                           <a href="sd">Read More</a>
                       </div>          </div>
                <div class="col-sm">
                      <div class="item">
                              <div class="text-center" style="max-width: 18rem;">
      <div class="card-header icon-header font-weight-bold"> 1.Research</div>
      <img class="icon-img mx-auto" src="/static/ndf/noun_schedule_694983.png">
      
      <div class="card-body text-dark">
      <p class="card-text">A baseline study was conducted to assess the gaps in a language classroom and the initial language levels of learners. 
       </p>
      </div>
      </div>
                           <a href="sd">Read More</a>
                       </div>          </div>
<!--                       <div class="col-sm">
                              <div class="item">
                                      <div class="text-center" style="max-width: 18rem;">
              <div class="card-header icon-header font-weight-bold"> 1.Research</div>
              <img class="icon-img mx-auto" src="../static/noun_Search_192681.png">
              
              <div class="card-body text-dark">
              <p class="card-text">A baseline study was conducted to assess the gaps in a language classroom and the initial language levels of learners. 
               </p>
              </div>
              </div>
                                   <a href="sd">Read More</a>
                               </div>          </div>
                                 <div class="col-sm">
                      <div class="item">
                              <div class="text-center" style="max-width: 18rem;">
      <div class="card-header icon-header font-weight-bold"> 1.Research</div>
      <img class="icon-img mx-auto" src="../static/noun_Search_192681.png">
      
      <div class="card-body text-dark">
      <p class="card-text">A baseline study was conducted to assess the gaps in a language classroom and the initial language levels of learners. 
       </p>
      </div>
      </div>
                           <a href="sd">Read More</a>
                       </div>          </div> -->
      <!--        </div> 
      </div>














-->











<style>
#usearch  p {
 text-align: right;
 font-size:14px;
 font-weight:400px;
}
#usearch li {
text-align:justify;
font-size:14px;
}
</style>

<div class="jumbotron " id="usearch">
<!--
  <h1 class="display-4">ReSearch Panel</h1>

-->
<h6 class="" style="text-align: left;"> Faculty Publications </h6>
<ul>
<li>
Jayendran, N. and Ramanathan, A. The Value of Story-Making Activities in the English Classroom Language and Language Teaching (LLT): Special Issue on Literature and Language Teaching, Volume 7, No. 1, Issue 13 (pgs 47-51); January 2018. Vidya Bhavan Society, Udaipur, Rajasthan ISSN: 2277-307X <a href="http://azimpremjiuniversity.edu.in/SitePages/pdf/Language-and-Language-Teaching-Jan-2018.pdf" target="_blank"> [View Full Paper]  </a>

</li>

<li>

Nagpal, S. (2016). Yours or Mine? Whose English? Teacher Plus, pp. 42-43.  <a href="http://www.teacherplus.org/things-to-think-about/yours-or-mine-whose-english" target="_blank">[View Full paper]</a> 

</li>
<li>
  Thomas, Tales in a red  Teacher plus, March 1st, 2013 <a href="https://clix.tiss.edu/wp-content/uploads/2017/03/http-www_teacherplus_org-profile-tales-in-a-red-van.pdf" target="_blank"> [View Full Paper]</a> 
</li>

<li>
  Thomas, Technology Innovations for Language , Language and Language Teaching,Volume 6 Number 2 (Issue 12) , July, 2017<a href="http://azimpremjiuniversity.edu.in/SitePages/pdf/Language-and-Language-Teaching-July-2017.pdf" target="_blank"> [View Full Paper] </a>

</li>
<li>
  Thomas, Thinking about Teach for  Teacher plus, November 2nd, 2010 <a href="https://clix.tiss.edu/wp-content/uploads/2017/03/http-www_teacherplus_org-cover-story-thinking-about-teach-for-india.pdf" target="_blank"> [View Full Paper] </a>
</li>
<li>
Thomas, J.,(2017). [Review of the book Teaching Learning Resources by Disha Nawani] Indian Journal of Social Work, 78 (4), 723-732.<a href="https://clix.tiss.edu/wp-content/uploads/2018/01/IJSW_Book-Review.pdf" target="_blank">  [View Full Paper] </a>

</li>

<li>
  Kumar, R., Blog Triangle Mid-point Theorem Using  Teacher Pages, August 2017.  <a href="http://us11.campaign-archive1.com/feed?u=a302247390e57da6da24e3632&id=89963175f8" target="_blank"> [View Full Blog] </a>
</li>
</ul>
<br>
<h6 class="" style="text-align: left;"> 

 CLIx Working Papers

</h6>

<br>


<li>Chandran, M., Roy, A. In-service Teacher Education and ICT Review of CLIx Baseline Data from Four States<a href="https://clix.tiss.edu/wp-content/uploads/2017/11/WorkingPaper_TeachersICT_Final.docx.pdf" target="_blank"> [View Full Paper]</a>
   </li>
<li>Sampath, P., Nagappa, A., Roy, A., Chatterji, A., Gajinka, A., Gajbe, A and Mehendale, A . Use of Digital Data Collection Tools in Large Scale Surveys: Experiences and Opportunities
<a href="https://clix.tiss.edu/wp-content/uploads/2017/11/Use-of-Digital-Data-Collection-Tools-in-Large-Scale-Surveys-Experiences-and-Opportunities.pdf" target="_blank">  [View Full Paper] </a> </li>
<li>Srinivas, S.,Rahman, J., Khanna., Bapat, A 2017. Analysing Geometry Learning: A case study of two schools in Rajasthan<a href="https://clix.tiss.edu/wp-content/uploads/2017/11/Analysing-Geometry-Learning-CLIx-Maths-2.pdf" target="_blank"> [View Full paper] </a>
</li>
<br>
<h6 class="" style="text-align: left;"> National Conferences </h6>
<br>

<li>Chopde, S.,Padalkar, S 2017. Astronomy Education: A Case for Blended Learning. Paper presented at National Conference on ICT in Education Perspectives, Practices and Possibilities, Mysuru, Swami Vivekananda Youth Movement, 11th-12th May 2017   <a href="https://clix.tiss.edu/wp-content/uploads/2017/11/Astronomy-Education-A-Case-for-Blended-Learning..pdf" target="_blank"> [View Full Paper]  </a>   </li>

<li>Murali,L., Jayendran,N., Bhonsale, S., Thomas,J., Mani,R., Ramanathan,A., Nagpal, S & Kulkarni, M. 2017.The Role of Technology in Creating Safe Language Learning Spaces. Paper presented National Seminar on Use of ICT in Teaching-Learning of Languages in School Education-The Indian . National Council of Educational Research and Training, 16th-17th March 2017, and at National Conference on ICT in Education Perspectives, Practices and Possibilities, Mysuru, Swami Vivekananda Youth Movement, 11th-12th May 2017 <a href="https://clix.tiss.edu/wp-content/uploads/2017/11/The-Role-of-Technology-in-Creating-Safe-Language-Learning-Spaces_SVYM.pdf" target="_blank"> [View Full paper] </a>  </li> <li>


Srinivas, S., Rahman, J., Khanna, S., (CEI&AR, Tata Institute of Social Sciences Mumbai) Kumar, V (Department of Computer Science and Engineering PES University Bangalore, India). 2016. Designing a Game-based Learning Environment to Foster Geometric Thinking. Paper presented at 8th IEEE International Conference on Technology for Education, Indian Institute of Technology, Mumbai 2nd-4th December 2016. (published in the conference proceedings)<a href="https://clix.tiss.edu/wp-content/uploads/2017/11/Designing-a-Game-based-Learning-Environment-to-Foster-Geometric-Thinking-2.pdf" target="_blank"> [View Full paper] </a>   </li>

<li> 
Thirumalai, B., Kumar, R. 2016. ICT enabled blended micro-course for secondary school  mathematics teachers: A large scale design experiment. Paper presented at 7th International Conference of Comparative Education Society of Comparative Educational Destinies: Vision, Dilemma and  Sri Venkateswara University, Tirupathi, 19th-21st November 2016 

<a href="https://clix.tiss.edu/wp-content/uploads/2017/11/ICT-enabled-blended-micro-course-for-Secondary-School-Mathematics-Teachers-sent-by-Bindu1.pdf" target="_blank" >
   [View Full Paper]

</a>
 </li>
<br>
<h6 class="" style="text-align: left;">International Conferences </h6>
<br>

<li>
Balli, O., Sankar, S., Mehendale, M., Roy, A., Singh, A., Nagpal, N., Hnamte, L., Mohanty, S., Sangma, P.,  Addala, P. Digital Innovation, School Readiness and Intervention Approaches: A case of Connected Learning Inititative (CLIx) in Indian high schools 
<a herf="https://clix.tiss.edu/wp-content/uploads/2017/11/LINCPaper_CLIx_revised-04052016.pdf" target="_blank">  [View Full paper] </a>   
</li>
<li>
Jayendran, N., Murali, L., Ramanathan, A., Thomas, J., Bhonsale, S., Mani, R., Nagpal, S., Kulkarni, M., Task Complexity, Peer Interaction and Learner Autonomy: A Case Study. Paper presented at 7th International Conference in Language Education and Innovation 2017 Ho Chi Minh City, Vietnam. 20th-21st May, 2017         (Published in Conference proceedings)<a href="http://proceedings.icsai.org/7iclei/7iclei-017.html" target="_blank" > [View Full Paper]  </a> </li>
<li>
Dhakulkar, A., Shaikh, R., Nagarjuna, G., (2018). Zone of proximal development in the era of connected computers. In S. Ladage & S. Narvekar (Eds.), Proceedings of 7 epiSTEME International Conference to Review Research on Science, Technology and Mathematics Education, p. 214-22 . India: Cinnamon Teal <a href="https://episteme7.hbcse.tifr.res.in/wp-content/uploads/2018/01/epiSTEME-7-Pages-1-474-with-header.pdf" target="_blank">   [View Full Paper] </a>     </li>
<li>
Shaikh, R., Chopde, S., & Padalkar, S., Teaching and Learning Basic Astronomy Through a Blended Module. Paper presented at the 8th Annual International Conference on Education and e-Learning (EeL) 2018, Singapore. 24th -25th September, 2018.  (Published in Conference proceedings).


<a href="https://www.researchgate.net/publication/327867686_Teaching_and_learning_basic_astronomy_through_a_blended_module" >   [View Full Paper] </a>   </li>
<!--
http://proceedings.icsai.org/7iclei/7iclei-017.html 
-->
<!--
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
-->
  <a class="btn btn-primary  mt-5 " href="https://clix.tiss.edu/research/publications/" role="button">Learn more</a>

</div>
