{% extends "ndf/base.html" %}
<style> 
h1{

}

</style>
<!--
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.min.js">

<div class="container">
        <div class="row">
          <a href="http://www.youtube.com/watch?v=k6mFF3VmVAs" data-toggle="lightbox" data-gallery="mixedgallery" class="col-sm-4">
          <img src="https://img.youtube.com/vi/k6mFF3VmVAs/0.jpg" class="img-fluid">
      </a>
      <a href="https://www.youtube.com/embed/_y0vXoy4Ego" data-toggle="lightbox" data-gallery="mixedgallery"  class="col-sm-4">
        <img src="https://img.youtube.com/vi/_y0vXoy4Ego/0.jpg" class="img-fluid">

    </a>
    <a href="https://unsplash.it/1200/768.jpg?image=257" data-toggle="lightbox" data-gallery="mixedgallery" class="col-sm-4">
          <img src="https://unsplash.it/600.jpg?image=257" class="img-fluid">
      </a> -->
      <!-- <a href="http://vimeo.com/80629469" data-remote="http://player.vimeo.com/video/80629469" data-toggle="lightbox" data-gallery="mixedgallery" class="col-sm-4">
          <img src="http://b.vimeocdn.com/ts/458/070/458070637_200.jpg" class="img-fluid">
      </a>
       -->
     <!--   </div>
        <div class="row">
          <a href="https://www.youtube.com/embed/2her2lUAevo" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img src="https://img.youtube.com/vi/2her2lUAevo/0.jpg" class="img-fluid rounded">
          </a>
          <a href="https://unsplash.it/1200/768.jpg?image=255" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img src="https://unsplash.it/600.jpg?image=255" class="img-fluid rounded">
          </a>
          <a href="https://unsplash.it/1200/768.jpg?image=256" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img src="https://unsplash.it/600.jpg?image=256" class="img-fluid rounded">
          </a>
        </div>
      </div>
     
      -->

{% block content %}
<div class="container" style="width:100%;">
<div class="row justify-content-center" style="background: #007991;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #78ffd6, #007991);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #78ffd6, #007991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
    <h1>  Help Video - English Team </h1>
        <div class="col-md-10 py-5">
            <div class="row">
                <a href="https://www.youtube.com/embed/7RVdncvy-cc" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                    <img  src="https://img.youtube.com/vi/7RVdncvy-cc/0.jpg" class="rounded img-fluid">
<h4 class="text-center"> dummy name </h4>
                </a>
                <a href="https://www.youtube.com/embed/j2MT9eFV_MM" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                    <img src="https://img.youtube.com/vi/j2MT9eFV_MM/0.jpg" class="img-fluid">
                </a>
                <a href="https://www.youtube.com/embed/zbeV_ICx7xI" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                    <img src="https://img.youtube.com/vi/zbeV_ICx7xI/0.jpg" class="img-fluid">
                </a>
            </div>    

</div>
</div>
</div>
      {% endblock %}
